<th:block th:fragment="chatDragJS">

    <!-- 2024-05-16, 채팅창 Drag UI 기능 -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">
    <script>
        /** 2024-05-16, 채팅창 Drag UI 기능 */
        let isSet = false;
        $("#opener").on("click", function () {
            $("#dialog").dialog("open");
            if(isSet == false) {
                var $content = "<iframe id='chatIframe' style='width: 330px; height: 587px;' src='/chat/chat'></iframe>";
                $("#dialog").before($content);
                isSet = true;
            }
        });

        /** 2024-06-06, scale 기능 추가 */
        $(document).ready(function() {
            var scale = 1;
            var $iframe = $('#chatIframe');
            $iframe.on('load', function() {
                var $iframeDoc = $iframe.contents();
                $iframeDoc.find('#zoomButton').on('click', function() {
                    var $dialog = $("#dialog").parent();
                    if (scale === 1.4) {
                        scale = 1;
                        $dialog.css({
                            "transform": "scale(" + scale + ")",
                            "transform-origin": "right top", // 오른쪽 위를 기준으로 스케일링
                            "transition": "transform 0.5s, top 0.5s, right 0.5s" // 트랜지션 없이 즉시 변환
                        });
                    } else {
                        scale = 1.4;
                        $dialog.css({
                            "transform": "scale(" + scale + ")",
                            "transform-origin": "right top", // 오른쪽 위를 기준으로 스케일링
                            "transition": "transform 0.5s, top 0.5s, right 0.5s" // 부드러운 전환을 위한 트랜지션
                        });
                    }

                    // transitionend 이벤트를 이용하여 트랜지션 비활성화
                    $dialog.one("transitionend", function() {
                        $dialog.css("transition", "none");
                    });
                });
            });
        });

        $("#dialog").dialog({
            autoOpen: false,
            draggable: true,
            resizable: false,
            width: 310,
            maxHeight: 578,
            position: { /** 2024-06-06, 채팅 Open 위치 변경 */
                of: '#opener',
                at: 'right bottom',
                my: 'left top'
            },
            show: {
                effect: "drop",
                duration: 500
            },
            hide: {
                effect: "drop",
                duration: 500
            }
        });

        $("#dialog").css('width', '310px');
        $("#dialog").css('background', 'transparent');
        $("#dialog").css('overflow', 'hidden');
        $(".ui-dialog").css('width', '310px');
        $(".ui-dialog").css('padding', '0');
        $(".ui-corner-all").css('border-bottom-right-radius', '0');
        $(".ui-corner-all").css('border-bottom-left-radius', '0');
        $(".ui-widget-header").css('border', '0');
        $(".ui-widget-header").css('font-family', '\'Open Sans\', sans-serif');
        $(".ui-dialog .ui-dialog-content").css('padding', '0');
        $(".ui-widget-content").css('background', 'transparent');
        $(".ui-dialog-titlebar").css('width', '310px');
        $(".ui-dialog-titlebar").css('background', '#fff');
        $(".ui-dialog-title").css('background', '#fff');
        $(".ui-dialog-title").css('color', 'black');
        $(".ui-widget.ui-widget-content").css('border', '0px');
        $(".ui-widget-content").css('max-height', '578px');
        $(".ui-dialog-titlebar-close").css('right', '0.5em');

        var $active_line = $("#active-line");
        $active_line.css("left", '115px');
    </script>