<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="roomMgrFragment">
<head>
    <meta charset="UTF-8" />
    <!-- 2024-05-28, 채팅방 생성 + 초대, 채팅방 삭제 화면 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/2.8.0/alpine.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link th:href="@{/css/chat/chat-invite.css}" rel="stylesheet" type="text/css"/>
    <title>title</title>
</head>

<body>
    <div class="bg-gray-50 h-screen flex justify-center items-center invite-screen">
        <!-- Card -->
        <div class="invite-card w-full h-5/6 max-w-lg flex-auto flex-col space-y-4 bg-white rounded-2xl overflow-hidden customShadow relative">
            <!-- Titling -->
            <div class="w-full border-b border-blue-100">
                <div class="p-6 flex flex-col space-y-4 invite-title">
                    
                    <h2 class="text-2ml font-semibold text-gray-900"><i class="material-icons invite-screen-back-arrow">navigate_before</i>채팅방 생성 - 대화상대 초대</h2>
                        <!-- 				<p class="text-xs text-gray-400">An email invite will be sent on your behalf to the selected team members.</p> -->
                </div>
            </div>

            <!-- Search Wrapper -->
            <div x-data="loadMembers()" class="max-h-full flex flex-col flex-grow">

                <!-- Search Input -->
                <div class="py-2 px-6 relative flex flex-col justify-center">
                    <svg class="absolute left-10" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        viewBox="0 0 16 16">
                        <path class="fill-current text-gray-400"
                            d="M6.4 1.6a4.8 4.8 0 100 9.6 4.8 4.8 0 000-9.6zm-4.525.275a6.4 6.4 0 019.58 8.45l4.31 4.31a.8.8 0 01-1.13 1.13l-4.31-4.31A6.399 6.399 0 010 6.4a6.4 6.4 0 011.875-4.525z" />
                    </svg>
                    <input type="text" placeholder="Search.." x-ref="searchField" x-model="search"
                        x-on:keydown.window.prevent.slash="$refs.searchField.focus()"
                        class="border border-blue-100 rounded p-2 pl-10 placeholder-gray-300 outline-none hover:border-blue-400 focus:border-blue-400 focus:bg-blue-50 focus:bg-opacity-25" />
                </div>

                <!-- Member List -->
                <div id="memberList" class="flex-grow flex flex-col py-2 px-6 -mt-2 pb-72 overflow-scroll">
                    <template x-for="member in filteredMembers" :key="member">
                        <div class="flex p-2 mb-2 space-x-2 rounded-lg cursor-pointer hover:bg-blue-50"
                            :class="{'bg-blue-50 ring-2 ring-blue-400 ring-offset-1 ring-offset-white': selectedMembers.includes(member.id)}"
                            x-on:click="selectedMembers.includes(member.id) ? selectedMembers.splice(selectedMembers.indexOf(member.id), 1) : selectedMembers.push(member.id)">
                            <img :src="`${member.photo}`" class="rounded-full" width="36px" style="height: 36px;" />
                            <div>
                                <p class="font-medium text-gray-900" x-text="member.name"></p>
                                <p class="text-xs text-gray-400">
                                    <span class="inline-block mr-2" x-text="member.email"></span>
                                    <span :class="{ 'text-green-600 font-medium': member.status === 'online' }"
                                        x-text="member.status"></span>
                                </p>
                            </div>
                        </div>
                    </template>
                    <!-- Empty State -->
                    <div x-show="filteredMembers.length == 0">
                        <div class="w-full h-20 mb-2 flex justify-center items-center">
                            <p class="text-center text-gray-500">검색결과 : "<span x-text="search"></span>"가 없습니다.</p>
                        </div>
                        <div class="flex flex-col space-y-2">
                            <div class="w-full p-2 flex space-x-2 bg-gray-100 rounded-lg">
                                <div class="h-12 w-12 rounded-full bg-gray-200"></div>
                                <div class="flex flex-col space-y-2 justify-center">
                                    <div class="h-3	w-32 rounded-full bg-gray-200"></div>
                                    <div class="flex space-x-2">
                                        <div class="h-2 w-40 rounded-full bg-gray-200"></div>
                                        <div class="h-2 w-12 rounded-full bg-gray-200"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="w-full p-2 flex space-x-2 bg-gray-100 rounded-lg">
                                <div class="h-12 w-12 rounded-full bg-gray-200"></div>
                                <div class="flex flex-col space-y-2 justify-center">
                                    <div class="h-3	w-32 rounded-full bg-gray-200"></div>
                                    <div class="flex space-x-2">
                                        <div class="h-2 w-40 rounded-full bg-gray-200"></div>
                                        <div class="h-2 w-12 rounded-full bg-gray-200"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="w-full p-2 flex space-x-2 bg-gray-100 rounded-lg">
                                <div class="h-12 w-12 rounded-full bg-gray-200"></div>
                                <div class="flex flex-col space-y-2 justify-center">
                                    <div class="h-3	w-32 rounded-full bg-gray-200"></div>
                                    <div class="flex space-x-2">
                                        <div class="h-2 w-40 rounded-full bg-gray-200"></div>
                                        <div class="h-2 w-12 rounded-full bg-gray-200"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Fixed Footer -->
                <div
                    class="absolute bottom-0 w-full h-24 flex justify-center items-center bg-white border-t border-blue-100">
                    <div class="py-2 px-4 bg-gray-200 text-white rounded inline-block outline-none cursor-default"
                        :class="{'bg-blue-500 cursor-pointer hover:bg-blue-600' : selectedMembers.length > 0}"
                        style="margin-bottom: 10px;">
                        <span>초대</span>
                        <span x-show="selectedMembers.length !== 0" x-text="selectedMembers.length"></span>
                        <span x-text="selectedMembers.length > 0 ? '명' : ''"></span>
                    </div>
                </div>

            </div><!--end of search wrapper -->

        </div><!-- end of card -->
    </div>

    <script>
        function loadMembers() {
            return {
                selectedMembers: [],
                search: "",
                myForData: sourceData,
                get filteredMembers() {
                    if (this.search === "") {
                        return this.myForData;
                    }
                    return this.myForData.filter((item) => {
                        return item.name
                            .toLowerCase()
                            .includes(this.search.toLowerCase());
                    });
                },
            };
        }

        var sourceData = [
            {
                id: 1,
                name: '홍길동',
                email: 'chance.septimus@gmail.com',
                photo: 'https://cdn-icons-png.flaticon.com/256/25/25231.png',
                status: 'online'
            },
            {
                id: 2,
                name: '홍홍홍',
                email: 'charlie.mango1990@gmail.com',
                photo: 'https://cdn-icons-png.flaticon.com/256/25/25231.png',
                status: 'online'
            },
            {
                id: 3,
                name: '홍동길',
                email: 'emery.philips89@gmail.com',
                photo: 'https://cdn-icons-png.flaticon.com/256/25/25231.png',
                status: '4시간 전'
            },
            {
                id: 4,
                name: '홍길똥',
                email: 'charliepress_photo@gmail.com',
                photo: 'https://cdn-icons-png.flaticon.com/256/25/25231.png',
                status: '2일 전'
            },
            {
                id: 5,
                name: '길길동',
                email: 'erin.korsgaard@gmail.com',
                photo: 'https://cdn-icons-png.flaticon.com/256/25/25231.png',
                status: '1주 전'
            },
            {
                id: 6,
                name: '동길홍',
                email: 'maria.bothman@gmail.com',
                photo: 'https://cdn-icons-png.flaticon.com/256/25/25231.png',
                status: '2주 전'
            },
            {
                id: 7,
                name: '홍길동',
                email: 'mrosser_design@gmail.com',
                photo: 'https://cdn-icons-png.flaticon.com/256/25/25231.png',
                status: '2주 전'
            },
            {
                id: 8,
                name: '홍길동',
                email: 'jaminoff.henry@gmail.com',
                photo: 'https://cdn-icons-png.flaticon.com/256/25/25231.png',
                status: '1달 전'
            },
            {
                id: 9,
                name: '홍길동',
                email: 'rosser_design@gmail.com',
                photo: 'https://cdn-icons-png.flaticon.com/256/25/25231.png',
                status: '3달 전'
            },
            {
                id: 10,
                name: '홍길동',
                email: 'emery_carder82@gmail.com',
                photo: 'https://cdn-icons-png.flaticon.com/256/25/25231.png',
                status: '1년 전'
            }
        ]
    </script>
</body>

</html>