<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.jhta_3team_finalproject.mybatis.mapper.TourPackage.CartMapper">

    <!-- 특정 카트의 상세 정보 가져오기 -->
    <select id="getDetail" parameterType="string" resultType="com.example.jhta_3team_finalproject.domain.TourPackage.Cart">
        SELECT * FROM cart WHERE cart_no = #{memberId}
    </select>

    <!-- 특정 카트의 존재 여부 확인 -->
    <select id="isId" parameterType="string" resultType="int">
        SELECT COUNT(*) FROM cart WHERE cart_no = #{memberId}
    </select>

    <!-- 특정 카트 삭제-->
    <delete id="deleteCart" parameterType="string">
        DELETE FROM cart WHERE cart_no = #{cartNo}
    </delete>

    <!-- 카트 내용 삽입-->
    <insert id="insertCart">
        INSERT INTO cart (cart_no, trip_no,cart_total, option_ids)
        VALUES (#{memberId}, #{tripNo},  #{cartTotal}, #{optionIds})
    </insert>

    <!-- 카트 내용 업데이트-->
    <update id="updateCart">
        UPDATE cart SET trip_no=#{tripNoValue}, option_ids=#{newOptionIds}, cart_total=#{totalPrice} WHERE cart_no=#{memberId}
    </update>

    <!--TripNo를 삭제하기로 선택했을 경우 cartNo를 제외한 tripNo와optionIds모두 삭제한다-->
    <update id="deleteTripNo" parameterType="string">
        UPDATE cart
        SET option_ids = NULL, trip_no = NULL, cart_total = NULL
        WHERE cart_no = #{cartNo}
    </update>

    <!--optionId를 삭제하기로 선택했을 경우 optionIds에서 일치하는 optionId만 삭제해야한다.-->
    <update id="deleteOption">
        UPDATE cart
        SET option_ids = #{updatedOptionIds}, cart_total = #{updatedCartTotal}
        WHERE cart_no = #{cartNo};
    </update>

    <!-- 특정 카트의 optionIds를 가져오기 -->
    <select id="getOptionIds" parameterType="string" resultType="string">
        SELECT option_ids FROM cart WHERE cart_no = #{cartNo}
    </select>
</mapper>
