<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.jhta_3team_finalproject.mybatis.mapper.TourPackage.CustomerMapper">

    <select id="isCustomerId" >
        SELECT * FROM customer WHERE customer_id = #{customerId}
    </select>

    <insert id="join" >
        INSERT INTO customer
        (customer_no, customer_id, customer_password, customer_name_kor, customer_name_eng, customer_email, customer_phone, customer_gender, customer_passport_no)
        VALUES
            (#{customerNo}, #{customerId}, #{customerPassword}, #{customerNameKor}, #{customerNameEng}, #{customerEmail}, #{customerPhone}, #{customerGender}, #{customerPassportNo})
    </insert>

    <select id="findByCustomerId" parameterType="String" resultType="Customer">
        SELECT * FROM customer WHERE customer_id = #{customerId}
    </select>

    <select id="findByCustomerNo" parameterType="String" resultType="Customer">
        SELECT * FROM customer WHERE customer_no = #{customerNo}
    </select>

    <update id="update">
        UPDATE customer
        SET
            customer_name_kor = #{customerNameKor},
            customer_name_eng = #{customerNameEng},
            customer_passport_no = #{customerPassportNo},
            customer_gender = #{customerGender},
            customer_phone = #{customerPhone},
            customer_email = #{customerEmail}
        WHERE customer_no = #{customerNo}
    </update>

</mapper>