<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.jhta_3team_finalproject.mybatis.mapper.TourPackage.OptionMapper">
    <select id="getOptionsByOptionId" resultType="com.example.jhta_3team_finalproject.domain.TourPackage.TripOption" parameterType="string">
        SELECT * FROM trip_option WHERE option_id = #{optionId}
    </select>

    <select id="getAllOptions" resultType="TripOption">
        SELECT * FROM trip_option
    </select>

    <!-- 모든 도시를 가져오는 쿼리 -->
    <select id="getAllCities" resultType="City">
        SELECT *
        FROM city
        ORDER BY country_no ASC
    </select>

    <!-- 선택한 도시의 상세 정보를 가져오는 쿼리 -->
    <select id="getCityByNo" parameterType="String" resultType="City">
        SELECT city_no, city_name, country_no
        FROM city
        WHERE city_no = #{city_no}
    </select>

    <select id="getLastOptionId" resultType="string">
        SELECT option_id
        FROM trip_option
        WHERE option_id LIKE CONCAT('%', #{cityNo})
        ORDER BY option_id DESC
            LIMIT 1
    </select>

    <insert id="insertOption">
        INSERT INTO trip_option (option_id, option_name, option_price, option_stock,option_max_stock, option_date, city_no, file_id,option_main_img)
        VALUES (#{optionId}, #{optionName}, #{optionPrice},  #{optionStock},#{optionMaxStock}, #{optionDate}, #{cityNo}, #{fileId},#{mainIMG})
    </insert>

</mapper>