<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.jhta_3team_finalproject.mybatis.mapper.TourPackage.TripMapper">

    <select id="getListCount" resultType="int">
        SELECT count(*) FROM trip WHERE status = 'APPROVED'
    </select>

    <select id="getCategoryListCount" resultType="int">
        SELECT count(*) FROM trip WHERE trip_category = #{category} AND status = 'APPROVED'
    </select>

    <select id="getDetail" resultType="Trip" parameterType="int">
        SELECT * FROM trip WHERE trip_no = #{num}
    </select>

    <select id="getTripFileByNo" resultType="TripFile" parameterType="String">
        SELECT * FROM tripfile WHERE file_id = #{fileNo}
    </select>

    <select id="getOptionIds" resultType="String" parameterType="int">
        SELECT option_ids FROM trip WHERE trip_no = #{num}
    </select>

    <select id="getTripList" resultType="Trip">
        SELECT * FROM (
        SELECT
        ROW_NUMBER() OVER (
        <choose>
            <when test="sort == 'date_asc'">ORDER BY trip_date ASC</when>
            <when test="sort == 'date_desc'">ORDER BY trip_date DESC</when>
            <when test="sort == 'price_low'">ORDER BY trip_price ASC</when>
            <when test="sort == 'price_high'">ORDER BY trip_price DESC</when>
            <otherwise>ORDER BY expire_date ASC</otherwise>
        </choose>
        ) AS rnum,
        trip_name,
        trip_no,
        trip_price,
        trip_stock,
        trip_max_stock,
        reg_date,
        expire_date,
        trip_date,
        file_id,
        trip_main_img,
        trip_category
        FROM trip
        WHERE status = 'APPROVED'
        ) AS tripAlias
        WHERE rnum BETWEEN #{startRow} AND #{endRow}
    </select>

    <select id="getCategoryTripList" resultType="Trip">
        SELECT * FROM (
        SELECT ROW_NUMBER() OVER (
        <choose>
            <when test="sort == 'date_asc'">ORDER BY STR_TO_DATE(trip_date, '%Y-%m-%d') ASC</when>
            <when test="sort == 'date_desc'">ORDER BY STR_TO_DATE(trip_date, '%Y-%m-%d') DESC</when>
            <when test="sort == 'price_low'">ORDER BY trip_price ASC</when>
            <when test="sort == 'price_high'">ORDER BY trip_price DESC</when>
            <otherwise>ORDER BY trip_no ASC</otherwise>
        </choose>
        ) AS rnum,
        trip_name, trip_no, trip_price, trip_stock, trip_max_stock,
        reg_date, expire_date, trip_date, file_id, trip_main_img, trip_category
        FROM trip WHERE trip_category = #{category} AND status = 'APPROVED'
        ) AS derived_table_alias
         where rnum BETWEEN #{startRow} AND #{endRow}
    </select>

    <select id="getKeywordListCount" resultType="int">
        SELECT count(*) FROM trip WHERE trip_name LIKE CONCAT('%', #{keyword}, '%') AND status = 'APPROVED'
    </select>

    <select id="getTripListByKeyword" resultType="Trip">
        SELECT * FROM (
        SELECT
        ROW_NUMBER() OVER (
        <choose>
            <when test="sort == 'date_asc'">ORDER BY trip_date ASC</when>
            <when test="sort == 'date_desc'">ORDER BY trip_date DESC</when>
            <when test="sort == 'price_low'">ORDER BY trip_price ASC</when>
            <when test="sort == 'price_high'">ORDER BY trip_price DESC</when>
            <otherwise>ORDER BY expire_date ASC</otherwise>
        </choose>
        ) AS rnum,
        trip_name,
        trip_no,
        trip_price,
        trip_stock,
        trip_max_stock,
        reg_date,
        expire_date,
        trip_date,
        file_id,
        trip_main_img,
        trip_category
        FROM trip
        WHERE trip_name LIKE CONCAT('%', #{keyword}, '%') AND status = 'APPROVED'
        ) AS tripAlias WHERE rnum BETWEEN #{startRow} AND #{endRow}
    </select>

    <select id="getAllTrip" resultType="Trip">
        SELECT * FROM trip where status = 'APPROVED'
    </select>

    <insert id="insertTrip" parameterType="Trip">
        INSERT INTO trip (trip_name, trip_price, trip_stock,trip_max_stock,trip_date, reg_date, expire_date, trip_main_img, trip_category, option_ids, file_id)
        VALUES (#{tripName}, #{tripPrice},#{tripStock}, #{tripMaxStock},#{tripDate}, #{regDate}, #{expireDate}, #{tripMainIMG}, #{tripCategory}, #{optionIds}, #{fileId})
    </insert>

    <insert id="insertTripFile" parameterType="TripFile">
        INSERT INTO tripfile (file_id, main_img, intro_img, route_img, schedule_img, detail_img)
        VALUES (#{fileId}, #{mainIMG}, #{introIMG}, #{routeIMG}, #{scheduleIMG}, #{detailIMG})
    </insert>

    <!-- status 업데이트 -->
    <update id="updateTripStatus">
        UPDATE trip
        SET status = #{status}
        WHERE trip_no = #{tripNo}
    </update>

    <!-- status가 주어진 문자열과 일치하는 Trip 조회 -->
    <select id="getTripByStatus" resultType="Trip">
        SELECT *
        FROM trip
        WHERE status = #{status}
    </select>

</mapper>

