<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="sidebar">
<head>
    <title>Sidebar Fragment</title>
    <th:block th:replace="~{TripHSF/_navbar ::navbar}"></th:block>

    <style>

    </style>
</head>
<body>
<nav class="sidebar sidebar-offcanvas" id="sidebar" th:fragment="sidebar">
    <ul class="nav" >
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="/trip/mainPage" aria-expanded="false" aria-controls="dashboard-pages">
                <span class="menu-title">Home</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>

        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#general-pages" aria-expanded="false" aria-controls="general-pages">
                <span class="menu-title">내 정보</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-contacts menu-icon ::before"></i>
            </a>
            <div class="collapse" id="general-pages">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" >내 정보</a></li>
                    <li class="nav-item"><a class="nav-link" >내 정보 수정</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">게시판</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-crosshairs-gps menu-icon"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link"> 자유게시판</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#chat-pages" aria-expanded="false" aria-controls="chat-pages">
                <span class="menu-title">채팅</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-chat menu-icon"></i>
            </a>
            <div class="collapse" id="chat-pages">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" >채팅</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#trip-pages" aria-expanded="false" aria-controls="trip-pages">
                <span class="menu-title">여행</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-airplane menu-icon"></i>
            </a>
            <div class="collapse" id="trip-pages">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/trip/mainPage">전체보기</a></li>
                    <li class="nav-item"><a class="nav-link" href="/trip/mainPage?category=WEU">서유럽</a></li>
                    <li class="nav-item"><a class="nav-link" href="/trip/mainPage?category=CEU">센트럴유럽</a></li>
                    <li class="nav-item"><a class="nav-link" href="/trip/mainPage?category=EEU">동유럽</a></li>
                    <li class="nav-item"><a class="nav-link" href="/trip/mainPage?category=SEU">스위트유럽 22일</a></li>
                    <li class="nav-item"><a class="nav-link" href="/trip/mainPage?category=DEU">돌체비타유럽 26일</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#general-pages1" aria-expanded="false" aria-controls="general-pages">
                <span class="menu-title">장바구니</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-cart-outline menu-icon ::before"></i>
            </a>
            <div class="collapse" id="general-pages1">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="Cart" >장바구니</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item sidebar-actions">
            <span class="nav-link">
                <div class="border-bottom">
                </div>
                <div class="shop__sidebar__search" style="padding-top: 20px;">
                    <form action="/trip/mainPage">
                        <input type="text" name="keyword" placeholder="Search..." th:value="${keyword}" onchange="sortProducts()">
                        <button type="submit"> <i class="mdi mdi-magnify"></i></button>
                    </form>
                </div>
            </span>
        </li>
    </ul>
</nav>

</body>
</html>