<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.jhta_3team_finalproject.mybatis.mapper.User.AdminMapper">

    <!-- 사용자 정보 업데이트 쿼리 -->
    <update id="updateUserInfo" parameterType="map">
        UPDATE user
        SET department_id = #{departmentId},
            position_id   = #{positionId},
            user_auth        = CASE
                                   WHEN #{positionId} = 0 THEN 'ROLE_NEWBIE' -- 신입사원
                                   WHEN #{positionId} = 1 THEN 'ROLE_MEMBER' -- 사원
                                   WHEN #{positionId} = 2 THEN 'ROLE_TEAM' -- 팀장
                                   WHEN #{positionId} = 3 THEN 'ROLE_HEAD' -- 부장
                                   WHEN #{positionId} = 4 THEN 'ROLE_SUB_MASTER'-- 이사
                                   WHEN #{positionId} = 5 THEN 'ROLE_MASTER' -- 대표
                                   ELSE 'ROLE_NEWBIE' -- 기본값
                END

        WHERE user_num = #{userNum}
    </update>

    <!-- 사용자 조회 쿼리 -->
    <select id="getUsersFilter" resultType="map">
        SELECT u.user_num,
        u.user_name,
        u.user_created_at,
        u.user_is_approved,
        u.user_phone_number,
        u.user_email,
        u.user_gender,
        u.user_auth,
        d.department_name,
        p.position_name
        FROM user u
        JOIN user_departments d ON u.department_id = d.department_id
        JOIN user_positions p ON u.position_id = p.position_id
       <where>
           <if test="department_id != -1 " >
             d.department_id =#{department_id}
           </if>
       </where>
        ORDER BY u.user_created_at DESC, u.user_num
    </select>

</mapper>
