<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.jhta_3team_finalproject.mybatis.mapper.User.AttendenceMapper">


    <!-- 출근 기록 -->
    <insert id="CheckIn" parameterType="map">
        INSERT INTO user_attendance (user_num, check_in_time)
        VALUES (#{userNum}, #{dateTime})
    </insert>

    <!-- 퇴근 기록 -->
    <update id="checkOut" parameterType="map">
        UPDATE user_attendance
        SET check_out_time= #{dateTime}
        WHERE user_num = #{userNum}
    </update>

    <!-- 오늘의 출 퇴근 기록 조회-->
    <select id="getTodayAttendance" parameterType="int">
        SELECT *
        FROM user_attendance
        WHERE user_num = #{userNum}
          AND DATE(check_in_time) = CURDATE()
        LIMIT 1

    </select>

    <!-- 한 사람의 한달 출퇴근 기록 조회-->
    <select id="getMonthlyAttendances" parameterType="map">
        select *
        from user_attendance
        where user_num = #{userNum}
          AND check_in_time BETWEEN #{startDate} AND #{endDate}
    </select>

    <!-- 전 직원의  출퇴근 정보 조회 -->
    <select id="getMonthlyAttendancesForAll" parameterType="map">
        SELECT u.user_num,
        u.user_name,
        d.department_name,
        p.position_name,
        ua.check_in_time,
        ua.check_out_time,
        ua.work_time
        FROM user_attendance ua
        JOIN user u ON ua.user_num = u.user_num
        JOIN user_departments d ON u.department_id = d.department_id
        JOIN user_positions p ON u.position_id = p.position_id
        <where>
            ua.check_in_time BETWEEN #{params.startDate} AND #{params.endDate}
            <if test="params.department_id != -1">AND d.department_id = #{params.department_id}</if>
        </where>

        ORDER BY u.user_num
    </select>

    <!-- 직원 이름으로 출퇴근 정보 검색 (FULLTEXT INDEX 활용) -->
    <select id="searchAttendancesByName" parameterType="map">
        SELECT u.user_num,
               u.user_name,
               d.department_name,
               p.position_name,
               ua.check_in_time,
               ua.check_out_time,
               ua.work_time
        FROM user_attendance ua
                 JOIN user u ON ua.user_num = u.user_num
                 JOIN user_departments d ON u.department_id = d.department_id
                 JOIN user_positions p ON u.position_id = p.position_id
        WHERE MATCH(u.user_name) AGAINST(#{searchTerm} IN BOOLEAN MODE)
          AND ua.check_in_time BETWEEN #{startDate} AND #{endDate}
    </select>

</mapper>