<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>예약자 목록</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>예약자 목록</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>예약번호</th>
            <th>이름</th>
            <th>휴대폰</th>
            <th>신청 시각</th>
            <th>처리 창구</th>
            <th>관리</th>
            <th>상태</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>**R8A67740711**</td>
            <td>김진영</td>
            <td>010-1234-1234</td>
            <td>2019-06-10 19:00~20:00</td>
            <td>dream@whois.co.kr</td>
            <td>**2019-06-10**</td>
            <td>**예약대기 수석**</td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>