<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trip Register</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap"
          rel="stylesheet">
    <!-- Css Styles -->
    <link rel="stylesheet" href="css/mainpage/bootstrap.min.css" th:href="@{/css/mainpage/bootstrap.min.css}"
          type="text/css">
    <link rel="stylesheet" href="css/mainpage/elegant-icons.css" th:href="@{/css/mainpage/elegant-icons.css}"
          type="text/css">
    <link rel="stylesheet" href="css/mainpage/style.css" th:href="@{/css/mainpage/style.css}" type="text/css">
    <link rel="stylesheet" href="css/mainpage/font-awesome.min.css" th:href="@{/css/mainpage/font-awesome.min.css}"
          type="text/css">
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<!--
<div th:if="${empty member_id}">
    <div th:replace="../mainpage/header :: header"></div>
</div>

<div th:if="${not empty member_id}">
    <div th:replace="../member/memberHeader :: memberHeader"></div>

</div>
-->
<!-- Header Section End -->

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Trip Register</h4>
                    <div class="breadcrumb__links">
                        <a href="./index.html">Home</a>
                        <a href="./shop.html">Shop</a>
                        <span>Trip Register</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <form action="#">
                <div class="row">

                    <!-- 예약자 정보 시작  -->
                    <div class="col-lg-8 col-md-6">
                        <h6 class="checkout__title">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>
                                            상품 유형( 저장할 테이블 ) <span>*</span>
                                        </p>
                                        <!-- 상품유형에 따라 테이블을 다르게 선택 -->
                                    </div>
                                    <div class="product__input">
                                        <input type="checkbox" id="isMainProduct" name="isMainProduct" checked>메인상품
                                        <input type="checkbox" id="isOptionProduct" name="isOptionProduct">옵션상품
                                    </div>
                                </div>
                            </div>
                        </h6>

                        <div class="row">

                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>
                                        상품 이름<span>*</span>
                                    </p>
                                    <input type="text" name="Name">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>
                                        상품 넘버<span>*</span>
                                    </p>
                                    <input type="text" name="Number">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>
                                        상품 가격<span>*</span>
                                    </p>
                                    <input type="text" name="Price">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>
                                        상품 재고<span>*</span>
                                    </p>
                                    <input type="text" name="Stock">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>
                                        일정 날짜<span>*</span>
                                    </p>
                                    <input type="text" name="tripdate">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>
                                        등록일<span>*</span>
                                    </p>
                                    <input type="text" name="registerdate">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>
                                        등록 만료일<span>*</span>
                                    </p>
                                    <input type="text" name="expiredate">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>
                                        카테고리<span>*</span>
                                    </p>
                                    <input type="text" name="category">
                                </div>
                            </div>
                        </div>

                        <div class="row" id="mainProductFields" style="display: block;">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>
                                        상품옵션(optionIds )<span>*</span>
                                    </p>
                                    <input type="text" name="optionIds">
                                </div>
                            </div>
                        </div>

                        <div class="row" id="optionProductFields" style="display: none;">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>
                                        도시 넘버<span>*</span>
                                    </p>
                                    <input type="text" name="city">
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- 예약자 정보  끝-->

                    <!-- 파일 정보 시작 -->
                    <div class="col-lg-8 col-md-6">
                        <h6 class="checkout__title">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>
                                            저장할 이미지 파일 (<span>.jpg.png</span>)
                                        </p>

                                    </div>
                                </div>

                            </div>
                        </h6>

                        <div class="row">

                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>
                                        메인 이미지<span>*</span>
                                    </p>
                                </div>
                                <input type="file" accept="image/*">
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>
                                        소개내용 이미지<span>*</span>
                                    </p>
                                </div>
                                <input type="file" accept="image/*">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>
                                        여행루트 이미지<span>*</span>
                                    </p>
                                </div>
                                <input type="file" accept="image/*">
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>
                                        여행 스케줄 이미지<span>*</span>
                                    </p>
                                </div>
                                <input type="file" accept="image/*">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>
                                        간략 전체 내용 이미지<span>*</span>
                                    </p>
                                </div>
                                <input type="file" accept="image/*">
                            </div>
                        </div>
                    </div>
                    <!-- 파일정보 끝 -->

                </div>
            </form>
        </div>
    </div>
</section>
<!-- Checkout Section End -->

<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="#"><img src="img/footer-logo.png" alt=""></a>
                    </div>
                    <p>The customer is at the heart of our unique business model,
                        which includes design.</p>
                    <a href="#"><img src="img/payment.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Shopping</h6>
                    <ul>
                        <li><a href="#">Clothing Store</a></li>
                        <li><a href="#">Trending Shoes</a></li>
                        <li><a href="#">Accessories</a></li>
                        <li><a href="#">Sale</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Shopping</h6>
                    <ul>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Payment Methods</a></li>
                        <li><a href="#">Delivary</a></li>
                        <li><a href="#">Return & Exchanges</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                <div class="footer__widget">
                    <h6>NewLetter</h6>
                    <div class="footer__newslatter">
                        <p>Be the first to know about new arrivals, look books, sales
                            & promos!</p>
                        <form action="#">
                            <input type="text" placeholder="Your email">
                            <button type="submit">
                                <span class="icon_mail_alt"></span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="footer__copyright__text">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <p>
                        Copyright ©
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        2020 All rights reserved | This template is made with <i
                            class="fa fa-heart-o" aria-hidden="true"></i> by <a
                            href="https://colorlib.com" target="_blank">Colorlib</a>
                    </p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->

<!-- Js Plugins -->
<script src="/js/mainpage/jquery-3.3.1.min.js"></script>
<script src="/js/mainpage/bootstrap.min.js"></script>
<script src="/js/mainpage/jquery.nice-select.min.js"></script>
<script src="/js/mainpage/jquery.nicescroll.min.js"></script>
<script src="/js/mainpage/jquery.magnific-popup.min.js"></script>
<script src="/js/mainpage/jquery.countdown.min.js"></script>
<script src="/js/mainpage/jquery.slicknav.js"></script>
<script src="/js/mainpage/mixitup.min.js"></script>
<script src="/js/mainpage/owl.carousel.min.js"></script>
<script src="/js/mainpage/main.js"></script>

<script th:inline="javascript">
    $('#isMainProduct').on('click', function () {
        if ($(this).prop('checked')) {
            $('#isOptionProduct').prop('checked', false);
            $('#mainProductFields').show();
            $('#optionProductFields').hide();
        } else {
            $(this).prop('checked', true);
        }
    });

    $('#isOptionProduct').on('click', function () {
        if ($(this).prop('checked')) {
            $('#isMainProduct').prop('checked', false);
            $('#optionProductFields').show();
            $('#mainProductFields').hide();
        } else {
            $(this).prop('checked', true);
        }
    });
</script>
</body>

</html>
