<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Trip Purchase</title>
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap" rel="stylesheet">
    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/mainpage/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/mainpage/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/mainpage/style.css" type="text/css">
    <link rel="stylesheet" href="/css/mainpage/font-awesome.min.css" type="text/css">


    <!-- plugins:css -->
    <link rel="stylesheet" href="../../assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../../assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../../assets/images/favicon.ico"/>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>

    <style>
        .checkout__order ul.checkout__total__products li:nth-child(2) span:nth-child(1) {
            float: none;
        }

        .checkout__order ul.checkout__total__products li:nth-child(n+3) span:nth-child(1) {
            float: none;
        }

        .checkout__order ul.checkout__total__products li:nth-child(n+3) span:nth-child(2) {
            float: none;
        }

    </style>
</head>
<body>
<div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
  <th:block th:replace="~{TripHSF/_navbar :: navbar}"></th:block>

    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        <th:block th:replace="~{TripHSF/_sidebar :: sidebar}"></th:block>
        <!---->
        <div class="main-panel">
            <div class="content-wrapper">

                <section class="checkout spad">
                    <div class="container">
                        <div class="checkout__form">
                                <div class="row">
                                    <!-- 예약자 정보 시작  -->
                                    <div class="col-lg-12 grid-margin stretch-card">
                                        <div class="card">
                                            <div class="card-body">
                                                <form id="updateCustomerForm" enctype="multipart/form-data" class="forms-sample">

                                                    <h6 class="checkout__title">예약자 정보</h6>
                                                    <input type="hidden" id="customerNo" name="customerNo" th:value="${customer.customerNo}">

                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="form-group checkout__input">
                                                                <p>성명<span>*</span></p>
                                                                <input type="text" class="form-control" id="customerNameKor" name="customerNameKor"
                                                                       placeholder="" th:value="${customer.customerNameKor}" required>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group checkout__input">
                                                                <p>영문 성명<span>*</span></p>
                                                                <input type="text" class="form-control" id="customerNameEng" name="customerNameEng"
                                                                       placeholder="" th:value="${customer.customerNameEng}" required>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="form-group checkout__input">
                                                                <p>예약자 여권번호<span>*</span></p>
                                                                <input type="text" class="form-control" id="customerPassportNo" name="customerPassportNo"
                                                                       placeholder="" th:value="${customer.customerPassportNo}" required>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="checkout__input">
                                                                <p>성별<span>*</span></p>
                                                            </div>
                                                            <div class="gender">
                                                                <input type="radio" name="customerGender" value="M" th:checked="${customer.customerGender == 'M'}"> 남
                                                                <input type="radio" name="customerGender" value="F" th:checked="${customer.customerGender == 'F'}"> 여
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="form-group checkout__input">
                                                                <p>전화번호<span>*</span></p>
                                                                <input type="text" class="form-control" id="customerPhone" name="customerPhone"
                                                                       placeholder="" th:value="${customer.customerPhone}" required>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group checkout__input">
                                                                <p>Email<span>*</span></p>
                                                                <input type="text" class="form-control" id="customerEmail" name="customerEmail"
                                                                       placeholder="email@domain.com" th:value="${customer.customerEmail}" required>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                                                    <button type="reset" class="btn btn-light">Cancel</button>
                                                </form>

                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-12 col-md-12">
                                        <div class="checkout__order">
                                            <h4 class="order__title">Your order</h4>
                                            <ul class="checkout__total__products">
                                                <li>Trip<span>Price</span></li>
                                                <li>메인상품 : <span th:text="${trip.tripName}"></span> <span th:text="${trip.tripPrice} + '₩'"></span></li>
                                                <li th:each="option, status : ${options}">
                                                    옵션 <span th:text="${status.count}"></span> : <span th:text="${option.optionName}"></span> <span th:text="${option.optionPrice} + '₩'"></span>
                                                </li>
                                            </ul>
                                            <ul class="checkout__total__all">
                                                <li>Total <span th:text="${cart.cartTotal} + '₩'"></span></li>
                                            </ul>

                                            <div id="orderDetails"
                                                 th:data-trip-number="${trip.tripNo}"
                                                 th:data-customer-number="${customer.customerNo}"
                                                 th:data-total-price="${cart.cartTotal}"
                                                 th:data-customer-email="${customer.customerEmail}"
                                                 th:data-customer-name="${customer.customerNameKor}"
                                                th:data-customer-phone="${customer.customerPhone}"
                                                th:data-trip-name="${trip.tripName}"
                                                th:data-cart-option="${cart.optionIds}">
                                            </div>
                                            <button id="payBtn" type="submit" class="site-btn">PLACE ORDER</button>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </section>

            </div>
            <!-- content-wrapper ends -->

        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<script src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
<script>

    $(document).ready(function () {
        $('#updateCustomerForm').on('submit', function(event) {
            event.preventDefault();

            var formData = {
                customerNo: $("#customerNo").val(),
                customerNameKor: $("#customerNameKor").val(),
                customerNameEng: $("#customerNameEng").val(),
                customerPassportNo: $("#customerPassportNo").val(),
                customerGender: $("input[name='customerGender']:checked").val(),
                customerPhone: $("#customerPhone").val(),
                customerEmail: $("#customerEmail").val()
            };

            console.log(formData); // formData 객체를 콘솔에 출력


            var csrfTokenValue = $("meta[name='_csrf']").attr("content");
            var csrfHeaderName = $("meta[name='_csrf_header']").attr("content");

            $.ajax({
                url: "/trip/UpdateCustomer",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(formData),
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(csrfHeaderName, csrfTokenValue);
                },
                success: function (response) {
                    alert("Customer information updated successfully");
                    //window.location.href = "/your-redirect-page"; // Replace with the appropriate redirect URL
                },
                error: function (xhr, status, error) {
                    console.error("error : ", error);
                    alert("An error occurred: " + xhr.responseText);
                }
            });
        });
    });

    document.getElementById('payBtn').addEventListener('click', function () {

       // event.preventDefault(); // 기본 동작 막기

        var IMP = window.IMP;
        IMP.init('imp51036440');

        var orderDetails = document.getElementById('orderDetails');
        var totalPrice = orderDetails.getAttribute('data-total-price');
        var customerEmail = orderDetails.getAttribute('data-customer-email');
        var customerName = orderDetails.getAttribute('data-customer-name');
        var customerPhone = orderDetails.getAttribute('data-customer-phone');
        var tripName = orderDetails.getAttribute('data-trip-name');
        var customerNo = orderDetails.getAttribute('data-customer-number');
        var tripNo = orderDetails.getAttribute('data-trip-number');
        var optionIds = orderDetails.getAttribute('data-cart-option')

        var csrfTokenValue = $("meta[name='_csrf']").attr("content");
        var csrfHeaderName = $("meta[name='_csrf_header']").attr("content");

        console.log("total Price:", totalPrice);
        console.log("Customer Email:", customerEmail);
        console.log("Customer Name:", customerName);
        console.log("csrfHeaderName:",csrfHeaderName);
        console.log("csrfTokenValue",csrfTokenValue);
        console.log("customerNo",customerNo);
        console.log("tripNo",tripNo);
        console.log("optionIds",optionIds);

        IMP.request_pay({
            pg: 'kakaopay.TC0ONETIME', // 카카오페이 사용
            pay_method: 'card',
            merchant_uid: 'merchant_' + new Date().getTime(),
            name: '주문명: '+tripName,
            amount: totalPrice,
            buyer_email: customerEmail,
            buyer_name: customerName,
            buyer_tel: customerPhone,
            buyer_no: customerNo,
            trip_no: tripNo,
            option_ids: optionIds
        }, function (rsp) {
            console.log("결제 금액:", rsp.paid_amount);
            if (rsp.success) {
                //[1] 서버단에서 결제정보 조회를 위해 jQuery ajax로 imp_uid 전달하기
                $.ajax({
                    url: "/api/payments/complete", // 서버측 결제 완료 핸들러
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json',
                    beforeSend: function(xhr){
                        xhr.setRequestHeader(csrfHeaderName,csrfTokenValue);
                    },
                    data: JSON.stringify({
                        imp_uid: rsp.imp_uid,
                        merchant_uid: rsp.merchant_uid,
                        paid_amount: rsp.paid_amount,
                        apply_num : rsp.apply_num,
                        buyer_no: customerNo,
                        trip_no: tripNo,
                        option_ids: optionIds
                        // 기타 필요한 데이터가 있으면 추가 전달
                    })
                }).done(function (data,xhr, status, error) {
                    //서버에서 REST API로 결제정보확인 및 서비스루틴이 정상적인 경우
                    if (data.success) {
                        var msg = '결제가 완료되었습니다.';
                        msg+='\n상품명 : '+ tripName;
                      //  msg += '\n고유ID : ' + rsp.imp_uid;
                     //   msg += '\n상점 거래ID : ' + rsp.merchant_uid;
                        msg += '\n결제 금액 : ' + rsp.paid_amount;
                        //msg += '\n카드 승인번호 : ' + rsp.apply_num;
                        alert(msg);
                        window.location.href = "PurchaseSuccess";
                    } else {
                        console.log("Status:", status);
                        console.log("Error:", error);
                        console.log("Response Text:", xhr.responseText);
                        alert('결제 처리 중 오류가 발생했습니다.(ajax)');
                    }
                }).fail(function (xhr, status, error) {
                    console.log(xhr.responseText);
                    alert('서버와의 통신 중 오류가 발생했습니다.');
                });
            } else {
                var msg = '결제에 실패하였습니다.';
                msg += '에러내용 : ' + rsp.error_msg;

                alert(msg);
            }
        });
    });
</script>
<!-- plugins:js -->
<script src="../../assets/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="../../assets/js/off-canvas.js"></script>
<script src="../../assets/js/hoverable-collapse.js"></script>
<script src="../../assets/js/misc.js"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<!-- End custom js for this page -->
</body>
</html>