<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- CSRF 토큰 추가 -->
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <!-- 캐시 제어(뒤로가기 시 화면 문제) -->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>장바구니 페이지</title>

    <!-- Google Font -->

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/mainpage/bootstrap.min.css" th:href="@{/css/mainpage/bootstrap.min.css}">
    <link rel="stylesheet" href="/css/mainpage/font-awesome.min.css" th:href="@{/css/mainpage/font-awesome.min.css}">
    <link rel="stylesheet" href="/css/mainpage/style.css" th:href="@{/css/mainpage/style.css}">
    <style>
        .IMG__item {
            height: 150px;
            width: 100px;
        }
        .delete-btn {
            border: none;
            background: none;
            cursor: pointer;
            outline: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cart__total {
            max-width: 1170px;
            margin: 20px auto; /* 가운데 정렬을 위해 추가 */
        }

    </style>
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shopping Cart</h4>
                    <div class="breadcrumb__links">
                        <a href="./index.html">Home</a>
                        <a href="./shop.html">Shop</a>
                        <span>Shopping Cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
    <div class="container">
        <div class="shopping__cart__table">
            <table>
                <thead>
                <tr>
                    <th>Image</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <!-- 메인 상품 -->
                <tr th:if="${not #lists.isEmpty(trip)}">
                    <td><img th:src="${trip.tripMainIMG}" class="IMG__item"></td>
                    <td class="product__cart__item">
                        <div class="product__cart__item__text">
                            <h5 th:text="${trip.tripName}"></h5>
                            <h6>
                                <span th:text="${#strings.substring(trip.tripDate, 2, 4) + '년 ' + #strings.substring(trip.tripDate, 5, 7) + '월 ' + #strings.substring(trip.tripDate, 8) + '일 출발'}"></span>
                            </h6>
                        </div>
                    </td>
                    <td class="quantity__item">
                        <div class="quantity">
                            <div class="pro-qty-2">
                                <input type="text" value="1">
                            </div>
                        </div>
                    </td>
                    <td class="cart__price" th:text="${trip.tripPrice}"></td>
                    <td class="cart__close">
                            <button class="delete-btn"
                                    th:data-cart-no="${cart.cartNo}"
                                    th:data-trip-no="${trip.tripNo}"
                                    th:data-item-type="'trip'"
                                    th:data-cart-total="${total_price}">
                            <i class="fa fa-close"></i>
                        </button>
                    </td>
                </tr>
                <!-- 옵션 상품 -->
                <tr th:each="option : ${options}">
                    <td><img th:src="${option.optionMainIMG}" class="IMG__item" alt=""></td>
                    <td class="product__cart__item">
                        <div class="product__cart__item__text">
                            <h6 th:text="${option.optionName}"></h6>
                        </div>
                    </td>
                    <td class="quantity__item">
                        <div class="quantity">
                            <div class="pro-qty-2">
                                <input type="text" value="1">
                            </div>
                        </div>
                    </td>
                    <td class="cart__price" th:text="${option.optionPrice}"></td>
                    <td class="cart__close">
                        <button class="delete-btn"
                                th:data-cart-no="${cart.cartNo}"
                                th:data-option-id="${option.optionId}"
                                th:data-item-type="'option'"
                                th:data-cart-total="${total_price}">
                            <i class="fa fa-close"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="continue__btn">
                    <a href="tripPage">Continue Shopping</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6"></div>
        </div>
    </div>
    <div class="cart__total">
        <h6>Cart total</h6>
        <ul>
            <li>상품 갯수 <span th:text="${product_Num}"></span>개</li>
            <li>총 가격 <span th:text="${total_price}"></span>원</li>
        </ul>
        <a href="#" class="primary-btn" data-trip-no="${trip.tripNo}" onclick="proceedToCheckout(this)">Proceed to checkout</a>
    </div>
</section>
<!-- Shopping Cart Section End -->

<!-- Js Plugins -->
<script src="/js/mainpage/jquery-3.3.1.min.js"></script>
<script src="/js/mainpage/bootstrap.min.js"></script>
<script src="/js/mainpage/jquery.nice-select.min.js"></script>
<script src="/js/mainpage/jquery.nicescroll.min.js"></script>
<script src="/js/mainpage/jquery.magnific-popup.min.js"></script>
<script src="/js/mainpage/jquery.countdown.min.js"></script>
<script src="/js/mainpage/jquery.slicknav.js"></script>
<script src="/js/mainpage/mixitup.min.js"></script>
<script src="/js/mainpage/owl.carousel.min.js"></script>
<script src="/js/mainpage/main.js"></script>

<script th:inline="javascript">
    $(document).ready(function () {
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        // 삭제 버튼 클릭 시
        $('.delete-btn').click(function () {
            var cartNo = $(this).data('cart-no');
            var identifier = $(this).data('trip-no') || $(this).data('option-id');
            var itemType = $(this).data('item-type');
            var cartTotal = $(this).data('cart-total');


            // Ajax를 사용하여 서버로 identifier와 itemType을 전송
            $.ajax({
                type: "POST",
                url: "cartDelete", // 삭제 기능을 수행할 서블릿 URL
                data: {cartNo: cartNo, identifier: identifier, itemType: itemType, cartTotal: cartTotal}, // 삭제할 항목의 식별자와 유형을 서버에 전달
                beforeSend: function(xhr) {
                    xhr.setRequestHeader(header, token);
                },
                success: function (response) {
                    // 삭제에 대한 응답 처리 (필요에 따라 구현)
                    if (response.newURL) {
                        // 새로운 URL로 리디렉션
                        window.location.href = response.newURL;
                    }
                    console.log("항목이 삭제되었습니다.");
                },
                error: function (xhr, status, error) {
                    // 오류 처리 (필요에 따라 구현)
                    console.error("항목 삭제 중 오류 발생:", error);
                }
            });
        });
    });

    function proceedToCheckout(element) {
        var tripNo = element.getAttribute('data-trip-no');
        // tripNo가 null이면 장바구니가 비어있음을 알림
        if (tripNo == null) {
            alert("장바구니가 비어 있습니다.");
            location.href = "tripCart";
        } else {
            // tripNo가 null이 아니면 구매 페이지로 이동
            location.href = "tripPurchase";
        }
    }
</script>
</body>
</html>
