<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:fragment="navbar">
<head>
    <title>Navbar Fragment</title>
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <link rel="stylesheet" th:href="@{/css/header/header.css}">
    <script th:src="@{/js/jquery-3.7.1.js}"></script>
    <script th:src="@{../js/Notification/Notification.js}"></script>
</head>
<style>
    .profile-img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        display: block;
        margin: 0 auto;
    }
</style>
<body>
<nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo" th:href="@{/dashboard}"><img th:src="@{/assets/images/LOGO_2.png}"
                                                                        alt="logo"/></a>
        <a class="navbar-brand brand-logo-mini" th:href="@{/dashboard}">
            <img th:src="@{/assets/images/logo-mini.svg}" alt="logo"/></a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-stretch">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
        </button>
        <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item nav-profile dropdown">
                <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    <div class="nav-profile-img">
                        <img th:src="${#authentication.principal.userProfilePicture}" class="profile-img">
                        <span class="availability-status online"></span>
                    </div>
                    <div class="nav-profile-text">
                        <p class="mb-1 text-black" th:text="${#authentication.principal.userName}"></p>
                    </div>
                </a>
                <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown" >
                    <a class="dropdown-item" th:href="@{/user/info}">
                        <i class="mdi mdi-cached me-2 text-success"></i> 내 정보 수정 </a>
                    <a class="dropdown-item" th:href="@{/user/logout}">
                        <i class="mdi mdi-logout me-2 text-primary" id="logout"></i> 로그아웃 </a>
                </div>
                <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">

                </div>
            </li>
            <li class="nav-item d-none d-lg-block full-screen-link">
                <a class="nav-link">
                    <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
                </a>
            </li>
            <li class="nav-item d-none d-lg-block full-screen-link">
                <a id="opener" class="nav-link count-indicator dropdown-toggle" href="#">
                    <span class="mdi mdi-message-text-outline" style="font-size: 20px;"></span>
                    <span class="count-symbol bg-success"></span>
                </a>
            </li>
            <li class="nav-item dropdown notifiList">
                <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#"
                   data-bs-toggle="dropdown">
                    <i class="mdi mdi-bell-outline"></i>
                    <span class="count-symbol bg-danger reddot" style="display:none"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list notification-modal"
                     aria-labelledby="notificationDropdown">
                    <div class="notification-area" style="max-height: 400px; overflow-y: auto; padding-bottom: 50px;">
                    <h6 class="p-3 mb-0">Notifications <span class="deleteNotifi">알림 모두 지우기</span></h6>
                    <div class="dropdown-divider notify-tr"></div>

                        <!-- 여기에 notifyForm 추가해야함! -->

                    <div class="dropdown-divider"></div>
                    </div>
                    <h6 class="p-3 mb-0 text-center see-all-notifications" style="position: absolute; bottom: 0; width: 100%; background: white;">See all notifications</h6>
                </div>

            </li>
            <li class="nav-item nav-logout d-none d-lg-block">
                <a class="nav-link" th:href="@{user/logout}">
                    <i class="mdi mdi-power"></i>
                </a>
            </li>
            <li class="nav-item nav-settings d-none d-lg-block">
                <a class="nav-link" href="#">
                    <i class="mdi mdi-format-line-spacing"></i>
                </a>
            </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
        </button>
    </div>
    <div id="dialog" title="" style="width: 330px; height: 587px; display: none;">
<!--        <iframe id="chatIframe" style="width: 330px; height: 587px;" src="/chat/chat"></iframe>-->
    </div>
</nav>
</body>
</html>
