<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>접근이 거부되었습니다</title>
    <link rel="stylesheet" href="/css/user/403.css">
</head>
<body>
<div class="container">
    <div class="error-page">
        <h1>접근이 거부되었습니다.</h1>
        <h2>Error 403 Forbidden.</h2>
        <p>요청하신 페이지 접근이 거부되었습니다.<br>입력하신 페이지의 주소가 정확한지 다시 한번 확인해주시기 바랍니다.</p>
        <div class="buttons">
            <button onclick="goBack()">이전페이지로 이동</button>
            <button onclick="goHome()">홈으로 이동</button>
        </div>
    </div>
</div>
<script th:inline="javascript">

    function goBack() {
        window.history.back();
    }

    function goHome() {
        window.location.href = "/";
    }
</script>

</body>
</html>
