<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>비밀번호 찾기</title>
  <!-- plugins:css -->
  <link rel="stylesheet" th:href="@{/assets/vendors/mdi/css/materialdesignicons.min.css}">
  <link rel="stylesheet" th:href="@{/assets/vendors/css/vendor.bundle.base.css}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <!-- endinject -->
  <!-- Layout styles -->
  <link rel="stylesheet" th:href="@{../css/user/login.css}">
  <!-- End layout styles -->
  <link rel="shortcut icon" th:href="@{/assets/images/favicon.ico}" />
</head>
<body>
<div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="content-wrapper d-flex align-items-center auth">
      <div class="row flex-grow">
        <div class="col-lg-4 mx-auto">
          <div class="auth-form-light text-left p-5">
            <div class="brand-logo">
              <img class="logo-center" th:src="@{/assets/images/LOGO_2.png}" alt="logo"/>
            </div>
            <h4>비밀번호 찾기</h4>
            <h6 class="font-weight-light">이름과 사원번호를 입력해 주세요</h6>

            <form class="pt-3" th:action="@{/user/findPassword}" method="post">
              <div class="form-group">
                <input type="text" class="form-control form-control-lg" id="exampleInputName" placeholder="이름" name="name">
              </div>
              <div class="form-group">
                <input type="text" class="form-control form-control-lg" id="exampleInputEmployeeNumber" placeholder="사원번호" name="employeeNumber">
              </div>
              <div class="mt-3">
                <button type="submit" class="btn btn-gradient-primary btn-lg btn-block"name="findPW">비밀번호 찾기</button>
                <button type="submit" class="btn btn-gradient-primary btn-lg btn-block" name=" findID">아이디 찾기</button>
              </div>
              <div class="text-center mt-4 font-weight-light"> <a th:href="@{/login}" class="text-primary">이전으로 돌아가기 로그인</a></div>
              <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script th:src="@{/assets/vendors/js/vendor.bundle.base.js}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<!-- End plugin js for this page -->
<!-- inject:js -->
<script th:src="@{/assets/js/off-canvas.js}"></script>
<script th:src="@{/assets/js/hoverable-collapse.js}"></script>
<script th:src="@{/assets/js/misc.js}"></script>
<!-- endinject -->
</body>
</html>
