<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../../assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../../assets/images/favicon.ico" />
  </head>

  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
            <!--해더-->
            <th:block th:replace="~{HSF/_navbar :: navbar}"></th:block>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
            <!--사이드바-->
            <th:block th:replace="~{HSF/_sidebar :: sidebar}"></th:block>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">

              <div class="page-header">
                  <h3 class="page-title"> 캘린더 </h3>
                  <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                          <li class="breadcrumb-item">내 정보</a></li>
                          <li class="breadcrumb-item active" aria-current="page">캘린더</li>
                      </ol>
                  </nav>
              </div>

            <div class="row"></div>
            <div class="col-12 grid-margin stretch-card">
<!--              <th:block th:replace="~{calendar/mycalendar :: calendar}"></th:block>-->
                <iframe style="width: 2000px; height: 1300px;" th:src="@{/cal/mycalendar}"></iframe>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->

          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../../assets/js/off-canvas.js"></script>
    <script src="../../assets/js/hoverable-collapse.js"></script>
    <script src="../../assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <!-- End custom js for this page -->
    <th:block th:replace="~{chat/chatDrag :: chatDragJS}"></th:block>
    <!-- End custom js for this page -->
  </body>
</html>