/*#calendarDate{*/
/*    margin-bottom: 50px;*/
/*}*/

.text {
    text-align: center;
}

body > .container{
    padding: 0px;
}

div.container-wrapper{
    padding-bottom: 0px;
    padding-top: 0px;
}

div.content-wrapper{
    padding-bottom: 0px;
    padding-top: 0px;
}

.main-panel .content-wrapper{
    padding-top: 30px !important;
}

#calendar {
    padding-top: 30px;
    padding-bottom: 30px;
}

#depart{
    height: 375px;
}

.card .card-body {
    padding: 1.7rem;
}

.page-header {
    margin: 13px 0 1.9rem 0;
}

.dept-black-lev3 {
    border-left: none;
    border-bottom: none !important;
    background: no-repeat !important;
}

.dept-black {
    border-left: none !important;
}