<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.jhta_3team_finalproject.mybatis.mapper.Table.BoardMapper">
    <select id="getListCount" resultType="int">
        SELECT COUNT(*)
        FROM board
    </select>

    <select id="getBoardList" parameterType="map" resultType="com.example.jhta_3team_finalproject.domain.Board.Board">
        SELECT *
        FROM (SELECT (@rownum := @rownum + 1) AS rnum, b.*
              FROM (SELECT board.*, COALESCE(comm.cnt, 0) AS cnt, users.user_name
                    FROM board
                             LEFT JOIN (SELECT board_num, COUNT(*) AS cnt
                                        FROM board_comment
                                        GROUP BY board_num) comm
                                       ON comm.board_num = board.board_num
                             LEFT JOIN users
                                       ON board.user_num = users.user_num
                   ) b,
                   (SELECT @rownum := 0) r) temp
        WHERE rnum BETWEEN #{start} AND #{end}
        ORDER BY board_date desc
    </select>

    <insert id="insertBoard">
        <selectKey resultType="int" order="BEFORE" keyProperty="boardNum">
            SELECT IFNULL(MAX(board_num), 0) + 1 FROM board
        </selectKey>
        INSERT INTO board
        (board_num, user_num, board_title, board_content,
         board_department)
        VALUES
        (#{boardNum}, #{userNum}, #{boardTitle}, #{boardContent},
         #{boardDepartment})
    </insert>

    <update id="setReadCountUpdate">
        UPDATE board
        SET board_readcount = board_readcount+ 1
        WHERE board_num = #{number}
    </update>

    <select id="getDetail" resultType="board">
        SELECT board.*, users.user_profile_picture, users.user_department, users.user_name
        FROM board
                 LEFT JOIN users ON board.user_num = users.user_num
        WHERE board.board_num = #{number}
    </select>

    <delete id="boardDelete">
<!--		<![CDATA[-->
<!--            DELETE FROM board-->
<!--            WHERE BOARD_RE_REF = #{BOARD_RE_REF}-->
<!--            AND BOARD_RE_LEV >= #{BOARD_RE_LEV}-->
<!--            AND BOARD_RE_SEQ >= #{BOARD_RE_SEQ}-->
<!--            AND BOARD_RE_SEQ <= (-->
<!--                SELECT seq_val FROM (-->
<!--                    SELECT IFNULL(-->
<!--                        (SELECT MIN(board_re_seq) - 1-->
<!--                         FROM board-->
<!--                         WHERE board_re_ref = #{BOARD_RE_REF}-->
<!--                         AND board_re_lev = #{BOARD_RE_LEV}-->
<!--                         AND board_re_seq > #{BOARD_RE_SEQ}),-->
<!--                        (SELECT MAX(board_re_seq)-->
<!--                         FROM board-->
<!--                         WHERE board_re_ref = #{BOARD_RE_REF})-->
<!--                    ) AS seq_val-->
<!--                ) AS temp_table-->
<!--            )-->
<!--        ]]>-->
	</delete>
</mapper>
