<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.jhta_3team_finalproject.mybatis.mapper.Table.UpfilesMapper">

    <!-- 파일 정보 삽입 -->
    <insert id="insertFile">
        INSERT INTO board_upfiles(board_num, upfiles_original_file_name, upfiles_file_name, upfiles_upload_date)
        VALUES (#{boardNum}, #{upfilesOriginalFileName}, #{upfilesFileName}, NOW())
    </insert>

    <!-- 특정 게시글의 파일 정보 조회 -->
    <select id="getFilesbyBoardNum" resultType="com.example.jhta_3team_finalproject.domain.Board.BoardUpfiles">
        SELECT *
        FROM board_upfiles
        WHERE board_num = #{boardNum}
    </select>

</mapper>