<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 마이바티스는 파라미터에 Null값이 있을 경우 에러가 발생.
	 이를 처리하기 위한 방법
	 <setting name = "jdbcTypeForNull" value="NULL" /> 
-->

<configuration>


	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>

		<setting name = "jdbcTypeForNull" value="NULL" />
	</settings>

	<mappers>
		<mapper resource="com/example/jhta_3team_finalproject/mybatis/mapper/User/UserMapper.xml"/>
		<mapper resource="com/example/jhta_3team_finalproject/mybatis/mapper/User/AttendenceMapper.xml"/>
		<mapper resource="com/example/jhta_3team_finalproject/mybatis/mapper/Table/AnnounceBoardMapper.xml"/>
		<mapper resource="com/example/jhta_3team_finalproject/mybatis/mapper/Table/ViewCheckMapper.xml"/>
		<mapper resource="com/example/jhta_3team_finalproject/mybatis/mapper/Table/BoardMapper.xml"/>
		<mapper resource="com/example/jhta_3team_finalproject/mybatis/mapper/Table/UpfileMapper.xml"/>
		<mapper resource="com/example/jhta_3team_finalproject/mybatis/mapper/Table/Table_CommentMapper.xml"/>
		<mapper resource="com/example/jhta_3team_finalproject/mybatis/mapper/Project/ProjectMapper.xml"/>
		<mapper resource="com/example/jhta_3team_finalproject/mybatis/mapper/chat/ChatMapper.xml"/>
		<mapper resource="com/example/jhta_3team_finalproject/mybatis/mapper/customer/InqCommentMapper.xml"/>
		<mapper resource="com/example/jhta_3team_finalproject/mybatis/mapper/customer/InqueryBoardMapper.xml"/>
		<mapper resource="com/example/jhta_3team_finalproject/mybatis/mapper/TourPackage/TripMapper.xml"/>
		<mapper resource="com/example/jhta_3team_finalproject/mybatis/mapper/TourPackage/OptionMapper.xml"/>
		<mapper resource="com/example/jhta_3team_finalproject/mybatis/mapper/TourPackage/CartMapper.xml"/>
		<mapper resource="com/example/jhta_3team_finalproject/mybatis/mapper/calendar/Calendar.xml"/>
	</mappers>

</configuration>






