<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.jhta_3team_finalproject.mybatis.mapper.Project.ProjectMapper">
    <select id="getAllDepartment">
        SELECT DISTINCT d.department_name
        FROM user_departments d
        JOIN user u ON d.department_id = u.department_id
        WHERE d.department_id != 0
    </select>

    <select id="getAllUser">
        SELECT u.*, d.department_name, p.position_name
        FROM user u
        JOIN user_departments d ON d.department_id = u.department_id
        JOIN user_positions p ON p.position_id = u.position_id
        WHERE user_num != #{userNum}
        ORDER BY position_id
    </select>

    <insert id="createProject" useGeneratedKeys="true" keyProperty="projectNum">
        INSERT INTO project
        (master_user_num, project_title, project_start_period, project_end_period)
        VALUES
            (#{masterUserNum}, #{projectTitle}, #{projectStartPeriod}, #{projectEndPeriod})
    </insert>

    <select id="getMemberName">
        SELECT user_name
        FROM user
        WHERE user_num = #{userNum}
    </select>

    <select id="getMemberProfile">
        SELECT user_profile_picture
        FROM user
        WHERE user_num = #{userNum}
    </select>

    <select id="getMemberDepartment">
        SELECT d.department_name
        FROM user_departments d
        JOIN user u ON u.department_id = d.department_id
        WHERE u.user_num = #{userNum}
    </select>

    <select id="getMemberPosition">
        SELECT p.position_name
        FROM user_positions p
                 JOIN user u ON u.position_id = p.position_id
        WHERE u.user_num = #{userNum}
    </select>

    <insert id="insertMember">
        INSERT INTO project_member
        (project_num, project_member_num, project_member_name,
        project_member_profile, project_member_department, project_member_position)
        VALUES
        (#{projectNum}, #{projectMemberNum}, #{projectMemberName},
         #{projectMemberProfile}, #{projectMemberDepartment}, #{projectMemberPosition})
    </insert>

    <select id="getMyProject">
        SELECT p.*
        FROM project p
        JOIN project_member pm ON p.project_num = pm.project_num
        WHERE pm.project_member_num = #{loginNum}
    </select>

    <select id="getProject">
        SELECT *
        FROM project
        WHERE project_num = #{projectNum}
    </select>

    <select id="getProjectMember">
        SELECT *
        FROM project_member
        WHERE project_num = #{projectNum}
    </select>

    <select id="getProjectDepartment">
    SELECT DISTINCT pm.project_member_department
    FROM project_member pm
    JOIN project p ON pm.project_num = p.project_num
    WHERE p.project_num = #{projectNum}
    AND pm.project_member_num != #{userNum}
    </select>

    <select id="searchProjectMember">
        SELECT *
        FROM project_member
        WHERE project_num = #{projectNum}
          AND project_member_name LIKE CONCAT('%', #{searchWord}, '%')
    </select>

    <select id="masterMember">
        SELECT *
        FROM user
        WHERE user_num = #{loginNum}
    </select>

    <insert id="insertPeed" useGeneratedKeys="true" keyProperty="projectPeedNum">
        INSERT INTO project_peed
        (project_num, project_member_num, project_peed_title, project_peed_content,
         project_peed_type, project_peed_start_period, project_peed_end_period, project_peed_charge,
         project_peed_priority, project_peed_regdate, project_peed_disclosure)
        VALUES
        (#{projectNum}, #{projectMemberNum}, #{projectPeedTitle}, #{projectPeedContent},
         #{projectPeedType}, #{projectPeedStartPeriod}, #{projectPeedEndPeriod}, #{projectPeedCharge},
         #{projectPeedPriority}, NOW(), #{projectPeedDisclosure})
    </insert>

    <select id="getProjectPeed" resultType="ProjectPeed">
        SELECT pp.*, u.user_profile_picture AS writerProfile, d.department_name AS writerDepartment,
               u.user_name AS writerName, p.position_name AS writerPosition, uc.user_name AS chargerName,
               pc.position_name AS chargerPosition
        FROM project_peed AS pp
                 LEFT JOIN user u ON pp.project_member_num = u.user_num
                 LEFT JOIN user_positions p ON u.position_id = p.position_id
                 LEFT JOIN user_departments d ON u.department_id = d.department_id
                 LEFT JOIN user uc ON pp.project_peed_charge = uc.user_num
                 LEFT JOIN user_positions pc ON uc.position_id = pc.position_id
        WHERE pp.project_num = #{projectNum}
        ORDER BY pp.project_peed_regdate desc
    </select>

    <insert id="insertComment" useGeneratedKeys="true" keyProperty="projectCommentNum">
        insert into project_comment(project_num, project_peed_num, project_member_num, project_comment_content)
        values(#{projectNum}, #{projectPeedNum}, #{projectMemberNum}, #{projectCommentContent})
    </insert>

    <select id="getPeedComment">
        SELECT pc.*, u.user_profile_picture AS commWriterProfile, d.department_name AS commWriterDepartment,
               u.user_name AS commWriter, p.position_name AS commWriterPosition
        FROM project_comment AS pc
                 LEFT JOIN user u ON pc.project_member_num = u.user_num
                 LEFT JOIN user_positions p ON u.position_id = p.position_id
                 LEFT JOIN user_departments d ON u.department_id = d.department_id
        WHERE pc.project_num = #{projectNum}
        AND   pc.project_peed_num = #{projectPeedNum}
        ORDER BY pc.project_comment_regdate desc
    </select>

    <update id="changeType">
        UPDATE project_peed
        SET project_peed_type = #{type}
        WHERE project_num = #{projectNum}
        AND   project_peed_num = #{peedNum}
    </update>

    <select id="getOneProjectPeed">
        SELECT *
        FROM project_peed
        WHERE project_num = #{projectNum}
        AND project_peed_num = #{peedNum}
    </select>

    <select id="getInsertComment">
        SELECT pc.*, u.user_profile_picture AS commWriterProfile, d.department_name AS commWriterDepartment,
               u.user_name AS commWriter, p.position_name AS commWriterPosition
        FROM project_comment AS pc
                 LEFT JOIN user u ON pc.project_member_num = u.user_num
                 LEFT JOIN user_positions p ON u.position_id = p.position_id
                 LEFT JOIN user_departments d ON u.department_id = d.department_id
        WHERE pc.project_comment_num = #{commentNum}
    </select>

    <insert id="addCheck">
        insert into view_check(project_num, project_peed_num, user_num, checked)
        values(#{projectNum}, #{peedNum}, #{loginNum}, 1)
    </insert>

    <select id="getCheckedPeed">
        SELECT COALESCE(SUM(checked), 0)
        FROM view_check
        WHERE project_peed_num = #{projectPeedNum}
        AND   user_num = #{userNum}
    </select>

    <delete id="deleteCheck">
        DELETE FROM view_check
        WHERE project_num = #{projectNum}
        AND   project_peed_num = #{peedNum}
        AND   user_num = #{loginNum}
    </delete>
</mapper>