<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Purple Admin</title>
        <link rel="stylesheet" th:href="@{../assets/vendors/mdi/css/materialdesignicons.min.css}">
        <link rel="stylesheet" th:href="@{../assets/vendors/css/vendor.bundle.base.css}">
        <link rel="stylesheet" th:href="@{../css/table/list.css}">
        <link rel="stylesheet" th:href="@{../css/table/write.css}">
        <link rel="stylesheet" th:href="@{../css/table/viewmenu.css}">
        <link rel="stylesheet" th:href="@{../css/table/announceView.css}">
        <link rel="stylesheet" th:href="@{../assets/css/style.css}">
        <link rel="shortcut icon" th:href="@{../assets/images/favicon.ico}" />

        <!-- js -->
        <script th:src="@{/js/jquery-3.7.1.js}"></script>
        <script th:src="@{../js/table/AnnounceView.js}"></script>
        <script th:src="@{../js/table/Chart/API/chart.js}"></script>
        <script th:src="@{../js/table/Chart/chart.js/Chart.min.js}"></script>

    </head>
    <body>
        <!-- 헤드바 -->
        <div class="container-scroller">
            <th:block th:replace="~{HSF/_navbar :: navbar}"></th:block>
            <!-- 사이드바 -->
            <div class="container-fluid page-body-wrapper">
                <th:block th:replace="~{HSF/_sidebar :: sidebar}"></th:block>

                <div class="main-panel">
                    <div class="content-wrapper">
                        <div class="page-header">
                            <h4 class="page-title"> 공지게시판 </h4>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">게시판</li>
                                    <li class="breadcrumb-item"><a href="announceList">공지 게시판</a></li>
                                    <li class="breadcrumb-item active" aria-current="page"> No. [[${boarddata.annboardNum}]]</li>
                                </ol>
                            </nav>
                        </div>
                        <!-- 로그인한 유저 정보 -->
                        <th:block>
                            <input type="hidden" id="loginname" th:value="${#authentication.principal.username}">
                            <input type="hidden" id="loginNum" th:value="${#authentication.principal.userNum}">
                            <input type="hidden" id="loginprofile" th:value="${#authentication.principal.userProfilePicture}">
                            <input type="hidden" id="loginDPM" th:value="${#authentication.principal.departmentId}">
                            <input type="hidden" id="writerNum" th:value="${boarddata.userNum}">
                            <input type="hidden" id="department" th:value="${boarddata.annboardDepartment}">
                        </th:block>
                        <!-- 백색 카드 -->
                        <div class="row">
                            <div class="col-lg-12 grid-margin stretch-card">
                                <div class="card">
                                    <div class="card-body">
                                        <!-- 제목 -->
                                        <div style="font-size:40px; font-weight: bold">
                                            <span class="department"><[[${#strings.substring(boarddata.annboardDepartment, 0, boarddata.annboardDepartment.length() - 1)}]]>&nbsp;</span>
                                            [[${boarddata.annboardTitle}]]
                                        </div>
                                        <br><br>
                                        <!-- 글쓴이/생성일/조회수/메뉴 버튼 -->
                                        <div style="height: 30px;">

                                            <img th:src="@{|/upload/user${boarddata.writerProfilePicture}}" alt="image" style="width:36px; height:36px; border-radius: 18px; float: left; margin-right: 15px;">

                                            <th:block sec:authorize-expr="isAuthenticated()">
                                                <th:block th:with="pinfo=${#authentication.principal}">
                                                    <th:block th:if="${pinfo.userNum}!=${boarddata.getUserNum()}">
                                                        <th:block sec:authorize="hasAuthority('ROLE_TEAM')">
                                                            <th:block th:if="${pinfo.departmentId==2}">
                                                                <i class="mdi mdi-dots-horizontal table-menu" style="float: right; font-size: 30px; margin-top:0px;"></i>
                                                            </th:block>
                                                        </th:block>
                                                    </th:block>
                                                    <th:block th:if="${pinfo.getUserNum()}==${boarddata.userNum}">
                                                        <i class="mdi mdi-dots-horizontal table-menu" style="float: right; font-size: 30px; margin-top:0px;"></i>
                                                    </th:block>
                                                </th:block>
                                            </th:block>
                                            <div style="height:40px; padding-top:1px;">
                                                <span class="card-title" style="font-width: bold; font-size:13px">
                                                    [[${boarddata.boardWriter}]]
                                                </span>
                                                <p class="card-description" style="font-size:11px; margin-bottom: 5px;">
                                                    [[${boarddata.writerDepartment}]]
                                                    <code style="font-size:11px"> 직급 </code>
                                                </p>
                                                <code style="font-size:11px; color:dimgray; margin-left: 45px;">[[${boarddata.annboardDate}]]</code>
                                                <code style="font-size:11px; ">Views [[${boarddata.annboardReadcount}]]</code>
                                            </div>
                                        </div>
                                        <br><br><hr><br><br>
                                        <!-- 내용 -->
                                        <div style="font-size:20px;">
                                            [[${boarddata.annboardContent}]]
                                        </div>
                                        <br><br><br>
                                        <!-- 업로드한 파일 -->
                                        <th:block th:if="${upfiles != null}">
                                            <th:block th:each="F, iterStat:${upfiles}">
                                                <div style="margin-bottom: 30px;">
                                                    <form method="post" action="down" style="height:0px">
                                                        <input type = "hidden" th:name ="${_csrf.parameterName}" th:value="${_csrf.token}">
                                                        <input type = "hidden" th:value="${F.upfilesFileName}" th:name="filename">
                                                        <input type = "hidden" th:value="${F.upfilesOriginalFileName}" th:name="original">
                                                        <img th:src="@{/image/table/down.png}" width="10px"><input type = "submit" style="border: none; background:none" th:value="${F.upfilesOriginalFileName}"><br>
                                                    </form>
                                                </div>
                                            </th:block>
                                            <br><br>
                                        </th:block>
                                        <!-- 아이콘 박스 -->


                                        <div class="iconbox" style="display: flex; align-items: center; height: 30px;">
                                            <button type="button" class="btn btn-inverse-info btn-icon check-btn" id="checkBtn">

                                            </button>

                                            <span class="card-description " id="count-comment" style="font-size:16px !important; margin:15px 20px 0px 10px">[[${count}]]</span>
                                            <i class="mdi mdi-format-list-bulleted" style="font-size: 25px; margin-top:15px;"></i>
                                            <span class="card-description" style="font-size:12px !important; margin:25px 20px 0px 5px">목록으로</span>

                                            <i class="mdi mdi-share-variant" style="font-size: 20px; margin-top:15px; float:right; margin-left: auto;"></i>
                                        </div>

                                            <br><br><br>

                                        <div class="check-state">
                                            <div class="col-lg-6 grid-margin stretch-card">
                                                <div class="card">
                                                    <div class="card-body chart-board">
                                                        <h4 class="card-title chart-title">공지 확인 현황</h4>
                                                        <canvas id="doughnutChart" style="height:250px"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <code id="toolTip"> 확인했다고 알려주세요! </code>
                        </div>
                    </div>
                </div>
            </div>
        <div>

        </div>
        </div>
        <!-- 메뉴 모달 -->
        <div id="table-view-M" class="tablemodal">
            <form id="delete-menuform1" name="delete" action='delete' method="post" onsubmit="return confirmDelete()">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <input type="hidden" name="bnum" class='num' th:value="${param.num}" id="board_num">
                <button type="submit" class="btn btn-inverse-light btn-fw menu-M remo">삭제</button>
            </form>
                <hr style="margin: 0px 0px">
            <form id="modify-menuform1" name="modify" action='modifyView' method="post" onsubmit="return confirmModify()">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <input type="hidden" name="num" class='num' th:value="${param.num}">
                <button type="submit" class="btn btn-inverse-light btn-fw menu-M modi">수정</button>
            </form>
        </div>
        <!-- 댓글 메뉴 모달 -->
        <div id="table-view-delete-M" class="tablemodal">
            <form id="delete-menuform2" name="delete">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <input type="hidden" name="bnum" class='num' th:value="${param.num}" id="boardnum">
                <input type="hidden" name="cnum" class='num' id="comment_num">
                <button type="submit" class="btn btn-inverse-light btn-fw menu-M remo">삭제</button>
            </form>
            <hr style="margin: 0px 0px">
            <div class="btn btn-inverse-light btn-fw menu-M">수정</div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="chartInfoModal" tabindex="-1" aria-labelledby="chartInfoModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="max-height:200px; margin-top: 25%; /* 원하는 위치로 조정 */">
                <div class="modal-content">
                    <div class="modal-header" >
                        <h5 class="modal-title" id="chartInfoLabel"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <ul id="User">

                        </ul>
                        <p id="chartInfoValue"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <script th:src="@{../assets/vendors/js/vendor.bundle.base.js}"></script>
        <script th:src="@{../assets/js/off-canvas.js}"></script>
        <script th:src="@{../assets/js/hoverable-collapse.js}"></script>
        <script th:src="@{../assets/js/misc.js}"></script>
        <script th:src="@{../assets/js/file-upload.js}"></script>

    </body>
</html>