.dept-green-lev3 {
    border-left: 4px solid #aeffc1;
    border-bottom: 4px solid #aeffc1 !important;
    background: rgba(174, 255, 193, 0.48) !important;
}

.dept-blue-lev3 {
    border-left: 4px solid #4f6aaf;
    border-bottom: 4px solid #4f6aaf !important;
    background: rgba(79, 106, 175, 0.48) !important;
}

.dept-black-lev3 {
    border-left: 4px solid black;
    border-bottom: 4px solid black !important;
    background: rgba(0, 0, 0, 0.13) !important;
}

.dept-red-lev3 {
    border-left: 4px solid #ff6161;
    border-bottom: 4px solid #ff6161 !important;
    background: rgba(255, 97, 97, 0.5); !important;
}

.dept-yellow-lev3 {
    border-left: 4px solid #ffee00;
    border-bottom: 4px solid #ffee00 !important;
    background: rgba(255, 238, 0, 0.38) !important;
}

.dept-orange-lev3 {
    border-left: 4px solid #ff8900;
    border-bottom: 4px solid #ff8900 !important;
    background: rgba(255, 137, 0, 0.45) !important;
}

.dept-green-lev2 {
    border-left: 4px solid #aeffc1;
    border-bottom: 4px solid #aeffc1 !important;
}

.dept-blue-lev2 {
    border-left: 4px solid #4f6aaf;
    border-bottom: 4px solid #4f6aaf !important;
}

.dept-black-lev2 {
    border-left: 4px solid black;
    border-bottom: 4px solid black !important;
}

.dept-red-lev2 {
    border-left: 4px solid #ff6161;
    border-bottom: 4px solid #ff6161 !important;
}

.dept-yellow-lev2 {
    border-left: 4px solid #ffee00;
    border-bottom: 4px solid #ffee00 !important;
}

.dept-orange-lev2 {
    border-left: 4px solid #ff8900;
    border-bottom: 4px solid #ff8900 !important;
}

.pin-icon {
    display: inline-block;

    transform: rotate(45deg); /* 아이콘을 45도 회전 */
}
