.make-flex {
    display: flex !important;
}

.H-control {
    margin-right: 20px;
    height : 43px;
}

.W-control {
    width: 43px !important;
}

.W-control2 {
    width: 83% !important;
}

.upfileview {
    max-height: 150px!important;     /* 최대 높이를 설정합니다 */
    white-space: pre-wrap; /* 줄바꿈을 적용 */

}
