<?xml version="1.0" encoding="UTF-8"?><!-- SQL 맵퍼 파일은 XML이기 때문에 제일 먼저 XML 선언이 옵니다. -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Mapper 인터페이스의 패키지명과 이름을 namespace 로 설정합니다. -->
<mapper namespace="com.naver.myhome.mybatis.mapper.InqueryBoardMapper">

	 <select id="getListCount" resultType="int">
	 	select count(*) from inquery_board
	 </select>

	  <select id="getBoardList" resultType="inqueryBoard">
	  	select *
	  	from ( select rownum rnum, b.*
	  		   from (select inquery_board.*, nvl(cnt, 0) cnt
	  		   		 from inquery_board left outer join (select comment_board_num, count(*) cnt
	  		   		 								from inquery_comm
	  		   		 								group by comment_board_num) c
	  		   		 on inquery_board.inq_num = c.comment_board_num
	  		   		 order by inq_re_ref desc, inq_re_seq asc) b
	  		   where rownum &lt;= #{end}  		 
	  		 )
	  	where rnum &gt;= #{start} and rnum &lt;= #{end}
	  </select>

	   <insert id="insertBoard">
	   		<selectKey resultType="int" order="BEFORE" keyProperty="inq_num">
	   			select nvl(max(inq_num),0)+1 from inquery_board
	   		</selectKey>
		   insert into inquery_board
		   (inq_num,
		   inq_name, inq_pass, inq_subject,
		   inq_content, inq_file, inq_original,
		   inq_re_ref, inq_re_lev, inq_re_seq,
		   inq_readcount,
		   inq_date)
		   values
		   (#{inq_num},
		   #{inq_name}, #{inq_pass}, #{inq_subject},
		   #{inq_content}, #{inq_file}, #{inq_original},
		   #{inq_num}, #{inq_re_lev}, #{inq_re_seq},
		   #{inq_readcount},
		   sysdate)
	   </insert>
	   
	   <update id="setReadCountUpdate">
	   		update inquery_board
	   		set    inq_readcount=inq_readcount+1
	   		where  inq_num=#{number}
	   </update>
	   
	   <select id="getDetail" resultType="inqueryBoard">
	   		select * 
	   		from   inquery_board
	   		where  inq_num=#{number}
	   </select>
	   
	   <select id="isBoardWriter" resultType="inqueryBoard">
	   		select * from inquery_board
	   		where    inq_num = #{num}
	   		and      inq_pass = #{pass}
	   </select>

	   <!-- 2024-04-05 게시물에 비밀번호가 없는지 판단합니다. -->
	   <select id="isBoardPassNull" resultType="inqueryBoard">
			select inq_pass from inquery_board
			where  inq_num = #{num}
	   </select>
	   
	   <update id="boardModify">
	   	 update inquery_board
	   	 set  	inq_subject=#{inq_subject},
	   			inq_content=#{inq_content},
	   			inq_file=#{inq_file},
	   			inq_original=#{inq_original}
	   	 where  inq_num=#{inq_num}
	   </update>

	   <delete id="boardDelete">
	   	<![CDATA[
	   		delete from inquery_board
	   				where inq_re_ref =  #{inq_re_ref}
	   				and   inq_re_lev >= #{inq_re_lev}
	   				and   inq_re_seq >= #{inq_re_seq}
	   				and   inq_re_seq <= (
	   										nvl((SELECT min(inq_re_seq)-1
	   									         FROM   inquery_board
	   									         WHERE  inq_re_ref = #{inq_re_ref}
	   									         AND    inq_re_lev = #{inq_re_lev}
	   									         AND    inq_re_seq > #{inq_re_seq}),
	   									        (SELECT max(inq_re_seq)
	   									         FROM   inquery_board
	   									         WHERE  inq_re_ref = #{inq_re_ref})
	   										))
	   	]]>
	   </delete>
	   
	   <select id="getDeleteFileList" resultType="String">
	   		select board_file from delete_file
	   </select>
	   
	   <delete id="deleteFileList">
	   		delete delete_file
	   		where board_file = #{file_name}
	   </delete>
</mapper>