<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.jhta_3team_finalproject.mybatis.mapper.User.UserMapper">

    <select id="isId" resultType="user">
        SELECT * FROM user WHERE id = #{id}
    </select>

    <insert id="join" >
        insert  into user
            (num,id, password, name, email,phone_number,department,gender)
        values ( #{num},#{id},#{password} ,#{name},#{email},#{phone_number}, #{department},#{gender})
    </insert>


    <update id="update">
        UPDATE user
        SET id = #{id},
            password = #{password},
            employee_number = #{employeeNumber},
            department = #{department},
            position = #{position},
            name = #{name},
            email = #{email},
            phone_number = #{phoneNumber},
            age = #{age},
            gender = #{gender},
            profile_picture = #{profilePicture},
            updated_at = #{updatedAt},
            is_approved = #{isApproved},
            auth = #{auth},
            chat_status_msg = #{chatStatusMsg}
        WHERE num = #{num}
    </update>

    <!-- 사용자 정보 추가 -->
    <insert id="insert">
        insert  into user
            (num,id, password, email, name, phone_number, department, position, gender, profile_picture, created_at, updated_at, auth)
        values (#{num},#{id}, #{password}, #{email}, #{name}, #{phone_number}, #{department}, #{position}, #{gender}, #{profile_picture},  NOW(), NOW(), #{auth})
    </insert>
</mapper>