<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"><head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" th:href="@{../../assets/vendors/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{../../assets/vendors/css/vendor.bundle.base.css}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" th:href="@{../../assets/css/style.css}">
    <!-- End layout styles -->
    <link rel="shortcut icon" th:href="@{../../assets/images/favicon.ico}"/>

</head>
<body>
<div class="container-scroller">
    <th:block th:replace="~{HSF/_navbar :: navbar}"></th:block>
    <div class="container-fluid page-body-wrapper">
        <th:block th:replace="~{HSF/_sidebar :: sidebar}"></th:block>
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="page-header">
                    <h3 class="page-title"> Trip Register </h3>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Forms</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Form elements</li>
                        </ol>
                    </nav>
                </div>
                <div class="row">
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Main Trip</h4>
                                <p class="card-description"> Trip Info </p>
                                <form th:action="addMainTrip" method="post" enctype="multipart/form-data"
                                      name="addMainTrip" class="forms-sample">
                                    <div class="form-group">
                                        <label for="TripName">Trip Name</label>
                                        <input type="text" class="form-control" id="TripName"
                                               th:placeholder="${trip.tripName}">
                                    </div>
                                    <div class="form-group">
                                        <label for="TripNumber">Trip Number</label>
                                        <input type="text" class="form-control" id="TripNumber"
                                               placeholder="이건 자동생성으로 만들어야할듯">
                                    </div>

                                    <div class="form-group">
                                        <label for="TripPrice">Trip Price</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text bg-gradient-primary text-white">₩</span>
                                            </div>
                                            <input type="text" class="form-control" id="TripPrice"
                                                   aria-label="Amount (to the nearest dollar)"
                                                   th:placeholder="${trip.tripPrice}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="StockNumber">Stock Number</label>
                                        <input type="text" class="form-control" id="StockNumber"
                                               placeholder="00명" th:placeholder="${trip.tripMaxStock}">
                                    </div>
                                    <div class="form-group">
                                        <label for="RegDate">Register Date(등록일)</label>
                                        <input type="text" class="form-control" id="RegDate"
                                               th:placeholder="${trip.regDate}">
                                    </div>
                                    <div class="form-group">
                                        <label for="ExprDate">Expire Date(등록 만료일)</label>
                                        <input type="text" class="form-control" id="ExprDate"
                                               th:placeholder="${trip.expireDate}">
                                    </div>

                                    <div class="form-group">
                                        <label for="category">Category</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" id="category">
                                                <option>WEU</option>
                                                <option>CEU</option>
                                                <option>EEU</option>
                                                <option>SEU</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="optionid"></label>
                                        <div class="btn-group-vertical" role="group" aria-label="Basic example">
                                            <div class="btn-group">
                                                <button type="button"
                                                        class="btn btn-outline-secondary dropdown-toggle"
                                                        data-bs-toggle="dropdown">OptionIds(상품옵션번호)
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class='dropdown-item' th:each="list,status : ${optionlistAll}"
                                                       th:classappend="'-' + ${status.count}" th:text="${list.optionId}"
                                                       onclick="addOptionId(this)"></a>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control" id="optionid" th:placeholder="${trip.optionIds}">
                                    </div>

                                    <p class="card-description"> Trip Image Upload</p>
                                    <div class="form-group">
                                        <label>Main Image</label>
                                        <input type="file" name="img[]" class="file-upload-default">
                                        <div class="input-group col-xs-12">
                                            <input type="text" class="form-control file-upload-info" disabled
                                                   th:placeholder="${tripfile.mainIMG}">
                                            <span class="input-group-append">
                            <button class="file-upload-browse btn btn-gradient-primary" type="button">Upload</button>
                          </span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Intorduce Image</label>
                                        <input type="file" name="img[]" class="file-upload-default">
                                        <div class="input-group col-xs-12">
                                            <input type="text" class="form-control file-upload-info" disabled
                                                   th:placeholder="${tripfile.introIMG}">
                                            <span class="input-group-append">
                            <button class="file-upload-browse btn btn-gradient-primary" type="button">Upload</button>
                          </span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Route Image</label>
                                        <input type="file" name="img[]" class="file-upload-default">
                                        <div class="input-group col-xs-12">
                                            <input type="text" class="form-control file-upload-info" disabled
                                                   th:placeholder="${tripfile.routeIMG}">
                                            <span class="input-group-append">
                            <button class="file-upload-browse btn btn-gradient-primary" type="button">Upload</button>
                          </span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Schedule Image</label>
                                        <input type="file" name="img[]" class="file-upload-default">
                                        <div class="input-group col-xs-12">
                                            <input type="text" class="form-control file-upload-info" disabled
                                                   th:placeholder="${tripfile.scheduleIMG}">
                                            <span class="input-group-append">
                            <button class="file-upload-browse btn btn-gradient-primary" type="button">Upload</button>
                          </span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Detail Image</label>
                                        <input type="file" name="img[]" class="file-upload-default">
                                        <div class="input-group col-xs-12">
                                            <input type="text" class="form-control file-upload-info" disabled
                                                   th:placeholder="${tripfile.detailIMG}">
                                            <span class="input-group-append">
                            <button class="file-upload-browse btn btn-gradient-primary" type="button">Upload</button>
                          </span>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                                    <button type="reset" class="btn btn-light">Cancel</button>
                                </form>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->
            <footer class="footer">
                <div class="container-fluid d-flex justify-content-between">
                    <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">Copyright © bootstrapdash.com 2021</span>
                    <span class="float-none float-sm-end mt-1 mt-sm-0 text-end"> Free <a
                            href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin template</a> from Bootstrapdash.com</span>
                </div>
            </footer>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script th:src="@{../../assets/vendors/js/vendor.bundle.base.js}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<!-- End plugin js for this page -->
<!-- inject:js -->
<script th:src="@{../../assets/js/off-canvas.js}"></script>
<script th:src="@{../../assets/js/hoverable-collapse.js}"></script>
<script th:src="@{../../assets/js/misc.js}"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script th:src="@{../../assets/js/file-upload.js}"></script>
<!-- End custom js for this page -->

<script th:inline="javascript">
    function addOptionId(element) {
        var input = document.getElementById('optionid');
        var currentValue = input.value;
        var optionId = element.innerText;
        if (currentValue !== '') {
            currentValue += '-';
        }
        currentValue += optionId;
        input.value = currentValue;
    }
</script>
</body>
</html>