<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"><head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" th:href="@{../../assets/vendors/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{../../assets/vendors/css/vendor.bundle.base.css}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" th:href="@{../../assets/css/style.css}">
    <!-- End layout styles -->
    <link rel="shortcut icon" th:href="@{../../assets/images/favicon.ico}"/>

    <script src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>

    <style>

        .product__item__pic img {
            width: 100%;
            height: auto;
            display: block;
        }

        .modal_header h1 {
            margin: 5px;
            font-size: 1.5em;
        }

        .section h2 {
            margin: 0;
            padding: 10px 0;
            text-align: center;
            background-color: #f0f0f0;
            border-radius: 5px;
        }
        .section ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            overflow-y: auto;
            flex-grow: 1;
        }
        .section ul li {
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }

        .col-sm-6.text-right {
            display: flex;
            justify-content: flex-end;
        }

        .col-sm-6.text-right form {
            display: inline-block;
            margin-left: 10px; /* 버튼들 사이에 간격 추가 */
        }

        table{
            text-align: center;
        }
    </style>


</head>
<body>

<div class="container-scroller">
    <th:block th:replace="~{HSF/_navbar :: navbar}"></th:block>
    <div class="container-fluid page-body-wrapper">
        <th:block th:replace="~{HSF/_sidebar :: sidebar}"></th:block>
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="page-header">
                    <h3 class="page-title"> Travel Department </h3>
                    <nav aria-label="breadcrumb">

                    </nav>
                </div>

                <div class="row">
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body" >
                                <h4 class="card-title">Trip List</h4>
                                <div style="max-height: 300px;  overflow-y: auto;">
                                <table class="table table-striped" >
                                        <thead>
                                        <tr>
                                            <th> 번호 </th>
                                            <th> 상품 </th>
                                            <th> 날짜 </th>
                                            <th> 금액 </th>
                                            <th> 신청 시간</th>
                                            <th> 관리</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="trip, status : ${pendingTrip}">
                                                <td th:text="${status.count}"></td>
                                                <td th:text="${trip.tripName}"></td>
                                                <td th:text="${trip.tripDate}"></td>
                                                <td th:text="${trip.tripPrice}+'원'"></td>
                                                <td th:text="${trip.regDate}"></td>
                                                <td>
                                                    <div class="state-btn">
                                                        <!-- 승인 또는 거부 버튼 -->
                                                        <form th:action="@{/trip/approveTrip}" method="post" style="display: inline;">
                                                            <input type="hidden" name="tripNo" th:value="${trip.tripNo}" />
                                                            <button type="submit" class="btn btn-gradient-success btn-sm">승인</button>
                                                        </form>
                                                        <form th:action="@{/trip/rejectTrip}" method="post" style="display: inline;">
                                                            <input type="hidden" name="tripNo" th:value="${trip.tripNo}" />
                                                            <button type="submit" class="btn btn-gradient-danger btn-sm">거부</button>
                                                        </form>
                                                    </div>
                                                </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body" >
                                <h4 class="card-title">Booking List</h4>
                                <div style="max-height: 300px; width:100%; overflow-y: auto;">
                                <table class="table table-striped" >
                                    <thead>
                                    <tr>
                                        <th> 예약번호</th>
                                        <th> 예약자</th>
                                        <th> 예약 상품 + 날짜</th>
                                        <th> 신청 시간</th>
                                        <th> 처리 현황</th>
                                        <th> 거절 사유</th>
                                        <th> 관리</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="purchase, status : ${purchaseList}">
                                        <td th:text="${status.count}"></td>
                                        <td th:text="${purchase.customerNameKor}"></td>
                                        <td th:text="${purchase.tripName}+'/'+${purchase.tripDate}"></td>
                                        <td th:text="${purchase.createdAt}"></td>
                                        <td th:text="${(purchase.status == 'PENDING' ? '예약 대기' :
                                                      (purchase.status == 'APPROVED' ? '예약 승인' :
                                                      (purchase.status == 'REJECTED' ? '예약 거절' :
                                                      (purchase.status == 'REFUND' ? '환불' : purchase.status))))}">
                                        </td>
                                        <td th:text="${purchase.rejectReason}"></td>
                                        <td>
                                            <div class="purchase-button">
                                                <form th:action="@{/trip/approvePurchase}" method="post" style="display:inline;">
                                                    <input type="hidden" name="purchaseId" th:value="${purchase.id}" />
                                                    <input type="hidden" name="buyerNo" th:value="${purchase.buyerNo}" />
                                                    <input type="hidden" name="tripNo" th:value="${purchase.tripNo}" />
                                                    <button type="submit" class="btn btn-gradient-success btn-sm">재승인</button>
                                                </form>
                                            </div>
                                        </td>
                                        <td>
                                            <div th:id="'refundDetails'+${status.index}"
                                                     th:data-merchant-uid="${purchase.merchantUid}"
                                                     th:data-purchase-id="${purchase.id}"
                                                     th:data-buyer-no="${purchase.customerNameKor}"
                                                     th:data-trip-no="${purchase.tripNo}"
                                                     th:data-imp-uid="${purchase.impUid}"
                                                     th:data-amount="${purchase.amount}"
                                                     th:data-reason="${purchase.rejectReason}">
                                            </div>
                                            <button th:id="'refundBtn'+${status.index}" type="button" class="btn btn-gradient-danger btn-sm" th:onclick="'handleRefund(' + ${status.index} + ')'">환불처리</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 grid-margin stretch-card">

                        <div class="card">
                            <div class="card-body" >
                                <h4 class="card-title">Trip List</h4>
                                <div style="max-height: 300px; width:100%; overflow-y: auto;position: relative;">

                                    <table class="table table-striped" >
                                        <thead>
                                        <tr>
                                            <th>번호</th>
                                            <th>상품</th>
                                            <th>날짜</th>
                                            <th>배정 TL</th>
                                            <th>예약인원</th>
                                            <th>진행상황</th>
                                            <th>관리</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr th:each="trip, status : ${newtripList}">
                                            <td th:text="${status.count}"></td>
                                            <td th:text="${trip.tripName}"></td>
                                            <td th:text="${trip.tripDate}"></td>
                                            <td th:text="${trip.travelleaderName}"></td>
                                            <td th:text="${trip.tripStock}+'/'+${trip.tripMaxStock}"></td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar"
                                                         th:style="'width: ' + ${trip.tripProgress} + '%'"
                                                         th:aria-valuenow="${trip.tripProgress}"
                                                         aria-valuemin="0" aria-valuemax="100"
                                                         th:classappend="${((status.count % 4 == 1) ? 'progress-bar bg-danger' :
                                                          ((status.count % 4 == 2) ? 'progress-bar bg-warning' :
                                                          ((status.count % 4 == 3) ? 'progress-bar bg-primary' :
                                                          'progress-bar bg-success')))}">
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <a class="btn btn-link btn-fw" th:href="'TLManagement?num=' + ${trip.tripNo}">
                                                    상세보기
                                                </a>
                                            </td>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->
            <footer class="footer">
                <div class="container-fluid d-flex justify-content-between">
                    <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">Copyright © bootstrapdash.com 2021</span>
                    <span class="float-none float-sm-end mt-1 mt-sm-0 text-end"> Free <a
                            href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin template</a> from Bootstrapdash.com</span>
                </div>
            </footer>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script th:src="@{../../assets/vendors/js/vendor.bundle.base.js}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<!-- End plugin js for this page -->
<!-- inject:js -->
<script th:src="@{../../assets/js/off-canvas.js}"></script>
<script th:src="@{../../assets/js/hoverable-collapse.js}"></script>
<script th:src="@{../../assets/js/misc.js}"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<!-- End custom js for this page -->

<!-- 메시지가 존재할 경우에만 alert를 띄움 -->
<script  th:if="${message}" th:inline="javascript">
    alert([[${message}]]);
</script>

<script>

function handleRefund(index) {
    // 클릭된 버튼의 인덱스를 받아와서 처리
    console.log('Refund button clicked for index:', index);
    var buttonId = 'refundBtn' + index;
    var button = document.getElementById(buttonId);

    button.addEventListener('click', function () {

        var IMP = window.IMP;
        IMP.init('imp51036440');

        var refundDetails = document.getElementById('refundDetails'+index);
        var purchaseId = refundDetails.getAttribute('data-purchase-id');
        var buyerNo = refundDetails.getAttribute('data-buyer-no');
        var tripNo = refundDetails.getAttribute('data-trip-no');
        var impUid = refundDetails.getAttribute('data-imp-uid');
        var amount = refundDetails.getAttribute('data-amount');
        var reason = refundDetails.getAttribute('data-reason');

        var csrfTokenValue = $("meta[name='_csrf']").attr("content");
        var csrfHeaderName = $("meta[name='_csrf_header']").attr("content");

        console.log("purchaseId:", purchaseId);
        console.log("buyerNo:", buyerNo);
        console.log("tripNo:", tripNo);
        console.log("impUid:", impUid);
        console.log("amount:", amount);
        console.log("reason:", reason);
        console.log("csrfHeaderName:", csrfHeaderName);
        console.log("csrfTokenValue:", csrfTokenValue);

        IMP.request_pay({
            pg: 'kakaopay.TC0ONETIME', // 카카오페이 사용
            pay_method: 'card',
            merchant_uid: 'merchant_' + new Date().getTime(),
            name: '환불 처리',
            amount: amount,
            buyer_no: buyerNo,
            trip_no: tripNo
        }, function (rsp) {
            if (rsp.success) {
                $.ajax({
                    url: "/api/payments/refund",
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(csrfHeaderName, csrfTokenValue);
                    },
                    data: JSON.stringify({
                        purchaseId: purchaseId,
                        buyerNo: buyerNo,
                        tripNo: tripNo,
                        impUid: impUid,
                        amount: amount,
                        reason: reason
                    })
                }).done(function (data, xhr, status, error) {
                    if (data.success) {
                        alert('환불이 완료되었습니다.\n환불 금액: ' + amount);
                        window.location.href = "tripBoss";
                    } else {
                        console.log("Status:", status);
                        console.log("Error:", error);
                        console.log("Response Text:", xhr.responseText);
                        alert('환불 처리 중 오류가 발생했습니다.');
                    }
                }).fail(function (xhr, status, error) {
                    console.log(xhr.responseText);
                    alert('서버와의 통신 중 오류가 발생했습니다.');
                });
            }else{
                var msg = '환불에 실패하였습니다.';
                msg += '에러내용 : ' + rsp.error_msg;

                alert(msg);
            }


        });
    })
}
</script>

</body>
</html>