/* 2024-03-29 Side Slide ui, zihun */
.post-body {
  max-width: 768px;
  margin: 4% auto;
  padding: 20px;
  background: #fff;
  color: #222;
  font-size: 16px;
  line-height: 1.6;
  box-shadow:0 5px 5px 1px rgba(0,0,0,0.15)
}

.post-body h1,
.post-body h2 {
  display: block;
  margin: 40px auto;
  font-size: 1.7rem;
  font-weight: 700;
  color: #222;
  text-align:center;
}

.container h2 {
  margin-top: 30px;
}
/* Header */
.header {
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
    position: sticky;
    top: 0;
    z-index: 3;
    background: #ffffff;
    float: right;
}

.header-right {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    /* height: 48px; */
    vertical-align: middle;
    white-space: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -moz-user-select: -moz-none;
}

.title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.title h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    margin: 0;
}

a {
	color: black;
}

/* Nav */
.darkshadow{visibility:hidden;opacity:0;position:relative;top:0;background:rgba(0,0,0,0.59);left:0;right:0;bottom:0;margin:0;z-index:5;transition:all .4s ease-in-out;}
.darkshadow.open{visibility:visible;opacity:1;}
.darkshadow-chat{visibility:hidden;opacity:0;position:relative;top:0;background:rgba(0,0,0,0.59);left:0;right:0;bottom:0;margin:0;z-index:5;transition:all .4s ease-in-out;}
.darkshadow-chat.open{visibility:visible;opacity:1;}
#nav-wrapper{font-size:13px;width:260px;height: 577px;position:relative;z-index:6;top:-578px;left:58px;overflow:hidden;right:0;background:#fff;-webkit-transition:.3s;-o-transition:.3s;transition:.3s;bottom:0;padding-top:15px;-webkit-transform:translateX(-290px);-ms-transform:translateX(-290px);transform:translateX(-290px);}
#nav-wrapper:hover{overflow-y:auto;}
#nav-wrapper.open{-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);}
#nav-wrapper ul{margin:0;padding:0;list-style:none;}
#nav-wrapper li{display:block;list-style:none;position:relative;}
#nav-wrapper li.first{background:#f0f8ff;border-radius:0 50px 50px 0;margin:0 20px 0 0;}
#nav-wrapper>ul>li>a{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;padding:10px 0 10px 24px;color:var(--color);font-size:13px;}
#nav-wrapper li a.nav-submenu{padding:10px 24px;}
#nav-wrapper li ul.nav-sub{display:none;}
#nav-wrapper li li a{display:block;position:relative;padding-left:5em;line-height:40px;}
#nav-wrapper a:hover{color:var(--color-hover);}
#nav-wrapper svg.down{margin-right:0;margin-left:15px;display:block;-webkit-transition:all 0.4s ease;-o-transition:all 0.4s ease;transition:all 0.4s ease;}
#nav-wrapper li.open svg.down{-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg);}
#nav-wrapper svg{height:24px;width:24px;margin-right:15px;overflow:hidden;opacity:.7;fill:currentColor;}
#nav-wrapper>ul>li:not(.colormode)>a>span:not(.new){-webkit-box-align:center;-ms-flex-align:center;align-items:center;display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;-webkit-box-flex:1;-ms-flex:1 1;flex:1 1;}
#nav-wrapper>ul>li>a>span>span.new{background:#e1f5fe;color:#004c88;line-height:normal;margin-left:10px;font-size:8px;padding:3px 10px;-webkit-border-radius:100px;-moz-border-radius:100px;border-radius:100px;}
/* Lazy */
.wk{background:#eeeeee linear-gradient(to right,rgba(255,255,255,0) 5%,rgba(255,255,255,.75) 20%,rgba(255,255,255,0) 30%);background-size:100% 100%;animation:wk 3s linear infinite;-moz-animation:wk 3s linear infinite;-webkit-animation:wk 3s linear infinite;-o-animation:wk 3s linear infinite;}.wk img{opacity:0;transition:1s all;}@keyframes wk{0%{background-position:-400px 0;}100%{background-position:400px 0;}}@-webkit-keyframes wk{0%{background-position:-50% 0;}100%{background-position:50% 0;}}@-moz-keyframes wk{0%{background-position:-50% 0;}100%{background-position:50% 0;}}
